<div>
<div class="panel panel-default">
    <div class="panel-heading">Capacity</div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row ">
                <div class="col-sm-4"><label>Apparent Power [kVa]</label></div>
                <div class="col-sm-8"><input class="form-control" title="Enter Generator Rating in kVa" id="rating" type="text"/></div>
            </div>
            <div class="row ">
                <div class="col-sm-4"><label></label></div>
                <div class="col-sm-8"><span data-lift="Msg?id=Rating_id&errorClass=has-error">Msg to appear here</span></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row ">
                <div class="col-sm-4"><label>Fuel</label></div>
                <div class="col-sm-3"><input class="form-control" id="fuelstore" type="text"  title="Enter tank capacity in liters" /></div>
                <div class="col-sm-3"><button id="refillfuel" type="submit" class="btn btn-primary col-lg-12" disabled>Refill Tank</button></div>
            </div>
            <div class="row ">
                <div class="col-sm-4"><label></label></div>
                <div class="col-sm-8"><span data-lift="Msg?id=FuelStore_id&errorClass=has-error">Msg to appear here</span></div>
            </div>
        </li>
    </ul>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <!--<h3 class="panel-title">-->
        Fuel Consumption Map
        <!--</h3>-->
    </div>
    <div class="panel-body">
        <div class="row ">
            <!--<div class="col-sm-4"><label></label></div>-->
            <div class="col-sm-3"><label>1/4 load</label></div>
            <div class="col-sm-3"><label>1/2 load</label></div>
            <div class="col-sm-3"><label>3/4 load</label></div>
            <div class="col-sm-3"><label>Full </label></div>
            <!--<input class="form-control" type="submit">-->

        </div>
        <div class="row border">
            <!--<div class="col-sm-4"><label></label></div>-->
            <div class="col-sm-3"><input class="form-control" id="quarter" type="text" title="Enter fuel consumption in liters" /></div>
            <div class="col-sm-3"><input class="form-control" id="half" type="text" title="Enter fuel consumption in liters" /></div>
            <div class="col-sm-3"><input class="form-control" id="threequarters" type="text" title="Enter fuel consumption in liters" /></div>
            <div class="col-sm-3"><input class="form-control" id="full" type="text" title="Enter fuel consumption in liters" /></div>

        </div>
    </div>
</div>
</div>