<div class="panel panel-default">
    <div class="panel-heading">
        <!--<h3 class="panel-title">-->
        Utility Charge Map
        <!--</h3>-->
    </div>
    <div class="panel-body">
        <div class="row ">
            <!--<div class="col-sm-4"><label></label></div>-->
            <div class="col-sm-3"><label>00:00 to 06:00</label></div>
            <div class="col-sm-3"><label>06:00 to 12:00</label></div>
            <div class="col-sm-3"><label>12:00 to 18:00</label></div>
            <div class="col-sm-3"><label>18:00 to 00:00</label></div>
            <!--<input class="form-control" type="submit">-->

        </div>
        <div class="row border">
            <!--<div class="col-sm-4"><label></label></div>-->
            <div class="col-sm-3"><input class="form-control" id="night" type="number" title="Enter utility charge in ₦/kWh" /></div>
            <div class="col-sm-3"><input class="form-control" id="morning" type="number" title="Enter utility charge in ₦/kWh" /></div>
            <div class="col-sm-3"><input class="form-control" id="afternoon" type="number" title="Enter utility charge in ₦/kWh" /></div>
            <div class="col-sm-3"><input class="form-control" id="evening" type="number" title="Enter utility charge in ₦/kWh" /></div>
        </div>
    </div>
</div>

