<div>
    <div class="panel panel-default">
        <div class="panel-heading">Capacity</div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row ">
                    <div class="col-sm-4"><label>Rating [kVa]</label></div>
                    <div class="col-sm-4"><input class="form-control" title="Enter Inverter Rating in kVa" id="rating" type="text"/></div>
                </div>
                <div class="row ">
                    <div class="col-sm-4"><label></label></div>
                    <div class="col-sm-8"><span data-lift="Msg?id=Rating_id&errorClass=has-error">Msg to appear here</span></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row ">
                    <div class="col-sm-4"><label>Efficiency</label></div>
                    <div class="col-sm-4"><input class="form-control" id="efficiency" type="number"  title="Enter inverter efficiency in %" /></div>
                </div>
                <div class="row ">
                    <div class="col-sm-4"><label></label></div>
                    <div class="col-sm-8"><span data-lift="Msg?id=FuelStore_id&errorClass=has-error">Msg to appear here</span></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row ">
                    <div class="col-sm-4"><label>Bulk Charging Current</label></div>
                    <div class="col-sm-4"><input class="form-control" id="chargecurrent" type="number"  title="Enter charging current in Ampere" /></div>
                </div>
                <div class="row ">
                    <div class="col-sm-4"><label></label></div>
                    <div class="col-sm-8"><span data-lift="Msg?id=ChargeCurrent_id&errorClass=has-error">Msg to appear here</span></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Storage</div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row ">
                    <div class="col-sm-4"><label>Battery Capacity</label></div>
                    <div class="col-sm-5"><input class="form-control" id="battcapacity" type="number"  title="Enter capacity of one battery in ampere hours" /></div>
                </div>
                <div class="row ">
                    <div class="col-sm-4"><label></label></div>
                    <div class="col-sm-8"><span data-lift="Msg?id=BatteryCapacity_id&errorClass=has-error">Msg to appear here</span></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row ">
                    <div class="col-sm-4"><label>Battery Count</label></div>
                    <div class="col-sm-5"><input class="form-control" id="battcount" type="number"  title="Enter number of batteries" /></div>
                </div>
                <div class="row ">
                    <div class="col-sm-4"><label></label></div>
                    <div class="col-sm-8"><span data-lift="Msg?id=BatteryCount_id&errorClass=has-error">Msg to appear here</span></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row ">
                    <div class="col-sm-4"><label>Depth of Discharge</label></div>
                    <div class="col-sm-5"><input class="form-control" id="dod" type="number"  title="Enter target depth of discharge in %" /></div>
                </div>
                <div class="row ">
                    <div class="col-sm-4"><label></label></div>
                    <div class="col-sm-8"><span data-lift="Msg?id=DoD_id&errorClass=has-error">Msg to appear here</span></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row ">
                    <div class="col-sm-4"><label>Battery Chemistry</label></div>
                    <div class="col-sm-5"><select class="form-control custom" id="chemistry" title="select battery type">
                        <option value="leadacid">Lead Acid Deep Cycle</option>
                        <option value="leadacidgel">Lead Acid Gel</option>
                        <option value="lion">Lithium Ion</option>
                        <option value="lionfepo4">Lithium Iron Phosphate</option>
                    </select></div>
                </div>
                <div class="row ">
                    <div class="col-sm-4"><label></label></div>
                    <div class="col-sm-4"><span data-lift="Msg?id=Chemistry_FK_id&errorClass=has-error">Msg to appear here</span></div>
                </div>
            </li>
        </ul>
    </div>
</div>