<div class="panel panel-default">
    <div class="panel-heading">
        <!--<h3 class="panel-title">-->
        Channel Assignment
        <!--</h3>-->
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row ">
                <div class="col-sm-4"><label></label></div>
                <div class="col-sm-4"><select class="form-control custom" id="sourceprobes">probes</select></div>
            </div>
            <div class="row ">
                <div class="col-sm-4"><label></label></div>
                <div class="col-sm-4"><span data-lift="Msg?id=ProbeID_FK_id&errorClass=has-error">Msg to appear here</span></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row ">
                <div class="col-sm-4">Channel</div>
                <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_1" id="sourcechannel_1">channel</select></div>
            </div>
        </li>
        <!--<li class="list-group-item">-->
        <!--<div class="row ">-->
        <!--<div class="col-sm-4">Phase 2 Channel</div>-->
        <div class="col-sm-4"><select style="display:none;" class="form-control custom" name="sourcechannel_2" id="sourcechannel_2">channel</select></div>
        <!--</div>-->
        <!--</li>-->
        <!--<li class="list-group-item">-->
        <!--<div class="row ">-->
        <!--<div class="col-sm-4">Phase 3 Channel</div>-->
        <div class="col-sm-4"><select style="display:none;" class="form-control custom" name="sourcechannel_3" id="sourcechannel_3">channel</select></div>
        <!--</div>-->
        <!--</li>-->
    </ul>
</div>