<div class="row" style="margin-bottom:1em">
    <ul class="nav nav-pills">
        <li><a data-lift="hasPermission?name=config:view" href="/system/configuration/listconfiguration.html">Configurations</a></li>
        <li><a data-lift="hasPermission?name=user:view" href="/system/usergroup/listusers.html">Users</a></li>
        <li><a data-lift="hasPermission?name=probe:view" href="/system/probe/listprobe.html">Probes</a></li>
        <li><a data-lift="hasPermission?name=powerSource:view" href="/system/source/listsource.html">Power Sources</a></li>
        <li><a data-lift="hasPermission?name=powerConsumer:view" href="/system/consumer/listconsumers.html">Power Consumers</a></li>
        <li><a data-lift="hasRole?name=admin" href="/system/payments/paymentsettings.html">Payments</a></li>
        <li><a data-lift="hasRole?name=admin" href="/system/products/listdevices.html">Products</a></li>
        <li><a href="/system/fuel/listfuel.html">Fuel</a></li>
        <li data-lift="lackRoles?name=admin,guest,regionaladmin"><a data-lift="homepageops.isConfigAdmin" href="/system/configuration/configmember.html">Configuration Member</a></li>
    </ul>
</div>