<div data-lift="surround?with=fuel-wrap;at=content">
        <!--<h2 class="alt">Create New Fuel Type</h2>-->
    <div class="panel panel-primary">
        <div class="panel-heading">Create New Fuel Type</div>
        <!--<a href="/system/listfuel">List Fuel</a> <br /> <br />-->
        <div data-lift="FuelOps.create?form=post">
            <span id="hidden"></span>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row ">
                        <div class="col-sm-6">
                            Fuel Type :&nbsp;&nbsp;<input class="form-control" id="fuelType" type="text"/>
                            <span data-lift="Msg?id=fuelType_id&errorClass=has-error">Msg to appear here</span>
                        </div>
                        <div class="col-sm-6">
                            Unit Price :&nbsp;&nbsp; <input class="form-control" id="unitPrice" type="number" />
                        </div>
                    </div>
                </li>
            </ul>
            <hr>
            <button class="btn btn-primary" id="submit" type="submit">Add Fuel</button>
        </div>
    </div>
</div>