<div data-lift="surround?with=fuel-wrap;at=content">
    <h2 class="alt">Fuel</h2>
    <a href="/system/listfuel">List Fuel</a> <br /> <br />
    <div data-lift="FuelOps.edit?form=post">
        <span id="hidden"></span>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row ">
                    <div class="col-sm-6">
                        Fuel Type :&nbsp;&nbsp;<input class="form-control" id="fuelType" type="text" readonly/>
                        <span data-lift="Msg?id=fuelType_id&errorClass=has-error">Msg to appear here</span>
                    </div>
                    <div class="col-sm-6">
                        Unit Price :&nbsp;&nbsp;<input class="form-control" id="unitPrice" type="number" />
                    </div>
                </div>
            </li>
        </ul>
        <hr>
        <button class="btn btn-primary" id="submit" type="submit">Save</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" id="cancel" type="submit">Cancel</button>
    </div>
</div>