<div data-lift="surround?with=fuel-wrap;at=content">
    <div data-lift="FuelOps.list">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="">Fuel</h5>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Fuel Type</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="fuellist">
                <tr class="rows">
                    <td class="fuelType">Dummy Name</td>
                    <td class="actions">Actions</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
