<div data-lift="surround?with=fuel-wrap;at=content">
    <!--<a href="/system/listfuel">List Fuel</a> <br /> <br />-->
    <div data-lift="FuelOps.refill?form=post">
        <span id="hidden"></span>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row ">
                    <div class="col-sm-6">
                        Power Source :&nbsp;&nbsp;<select id="powerSource" class="form-control" ></select>
                        <span data-lift="Msg?id=fuelType_id&errorClass=has-error">Msg to appear here</span>
                    </div>
                    <div class="col-sm-6">
                        Litres :&nbsp;&nbsp; <input class="form-control" id="litre" type="number" />
                    </div>
                </div>
            </li>
        </ul>
        <hr>
        <button class="btn btn-primary" id="submit" type="submit">Refill</button>
    </div>
    </span>
</div>