<div data-lift="surround?with=consumers-wrap;at=content">
	<div class="panel panel-primary">
		<div class="panel-heading">Create New Consumer Group</div>
		<!--<a href="/system/listfuel">List Fuel</a> <br /> <br />-->
			<div data-lift="PowerConsumerOps.createGroup?form=post">
				<span id="hidden"></span>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="row ">
							<div class="col-sm-4"><label>Configuration</label></div>
							<div class="col-sm-4"><select class="form-control custom" id="groupConfig"></select></div>
						</div>
						<div class="row ">
							<div class="col-sm-4"><label></label></div>
							<div class="col-sm-4"><span data-lift="Msg?id=ConfigID_FK_id&errorClass=has-error">Msg to appear here</span></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row ">
							<div class="col-sm-4"><label>Name</label></div>
							<div class="col-sm-4">
								<input class="form-control" id="groupName" type="text"/>
							</div>
							<div class="row ">
								<div class="col-sm-4"><label></label></div>
								<span data-lift="Msg?id=groupName_id&errorClass=has-error">Msg to appear here</span>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row ">
							<div class="col-sm-4"><label>Type</label></div>
							<div class="col-sm-4">
								<select class="form-control custom" id="groupType">
									<option selected="selected" disabled>select type</option>
									<option>Estate</option>
									<option>Structure</option>
									<option>Floor</option>
									<option>Section</option>
									<option>Room</option>
									<option>Subsection</option>
								</select></div>
						</div>
					</li>
				</ul>
				<div class="row">
					<div class="col-sm-5"></div>
					<div class="col-sm-3">
						<button class="btn btn-primary" id="submit" type="submit">Add Group</button>
					</div>
				</div>
				<br/>
			</div>
		</div>
	</div>
</div>