<div data-lift="surround?with=consumers-wrap;at=content">
	<style>
		li {list-style-type :none}
		#lift__noticesContainer___notice {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: #dff0d8;
		border-color: #d6e9c6;
		color: #3c763d;

		}

		#lift__noticesContainer___warning {
		background-color: yellow;
		}

		#lift__noticesContainer___error {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: #f2dede;
		border-color: #ebccd1;
		color: #a94442;
		}

		input[type='checkbox'] {
		width:20px;
		height:20px;
		border-radius:2px;
		border:1px solid ;
		}
		input[type='checkbox']:checked {
		background: #abd;
		}
	</style>
	<div class="panel panel-primary">
		<div class="panel-heading">Create New Consumer</div>
		<!--<a href="/system/listfuel">List Fuel</a> <br /> <br />-->
		<div data-lift="Notices"></div>
			<div data-lift="PowerConsumerOps.createConsumer?form=post">
				<span id="hidden"></span>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="row ">
							<div class="col-sm-4"><label>Line</label></div>
							<div class="col-sm-4"><select class="form-control custom" id="consumerLine"></select></div>
						</div>
						<div class="row ">
							<div class="col-sm-4"><label></label></div>
							<div class="col-sm-4"><span data-lift="Msg?id=LineConfig_id&errorClass=has-error">Msg to appear here</span></div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row ">
							<div class="col-sm-4"><label>Name</label></div>
							<div class="col-sm-4">
								<input class="form-control" id="consumerName" type="text"/>
							</div>
							<div class="row ">
								<div class="col-sm-4"><label></label></div>
								<span data-lift="Msg?id=consumerName_id&errorClass=has-error">Msg to appear here</span>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row ">
							<div class="col-sm-4"><label>Type</label></div>
							<div class="col-sm-4">
								<select class="form-control custom" id="consumerType">
									<option selected="selected" disabled>select phases</option>
								</select></div>
						</div>
					</li>
				</ul>
				<div class="row">
					<div class="col-sm-5"></div>
					<div class="col-sm-3">
						<button class="btn btn-primary" id="submit" type="submit">Add Consumer</button>
					</div>
				</div>
				<br/>
			</div>
		</div>
	</div>
</div>