<div data-lift="surround?with=consumers-wrap;at=content">
	<div class="panel panel-primary">
		<div class="panel-heading">Create New Power Consumer Line</div>
		<!--<a href="/system/listfuel">List Fuel</a> <br /> <br />-->
			<div data-lift="PowerConsumerOps.numOfPhase?phase=1"></div>
			<div data-lift="PowerConsumerOps.createLine?form=post">
				<span id="hidden"></span>
				<div class="row">
					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-8">
							<table class="table">
								<tr>
									<td><label>Name</label></td>
									<td>
										<input class="form-control" id="lineName" type="text"/>
										<span data-lift="Msg?id=Name_id&errorClass=has-error">Msg to appear here</span>
									</td>
								</tr>
								<tr>
									<td><label>Type</label></td>
									<td>
										<select class="form-control custom" id="groupType">
											<option selected="selected" disabled>select type</option>
											<option>Estate</option>
											<option>Structure</option>
											<option>Floor</option>
											<option>Section</option>
											<option>Room</option>
											<option>Subsection</option>
										</select>
									</td>
									<input id="consumertype" type="text" value="consumerline" hidden/>
									<input id="linephases" type="number" value="1" hidden/>
								</tr>
								<tr>
									<td><label>Signal Threashold</label></td>
									<td>
										<input class="form-control" id="signalThreshold" type="text"/>
										<span data-lift="Msg?id=signalThreashold_id&errorClass=has-error">Msg to appear here</span>
									</td>
								</tr>
								<tr>
									<td><label>Consumer Group</label></td>
									<td><select class="form-control custom" id="consumerGroup"></select></td>
									<span data-lift="Msg?id=consumerGroup_id&errorClass=has-error">Msg to appear here</span></div>
								</tr>
							</table>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-10">
							<!--   -------------- -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<!--<h3 class="panel-title">-->
									Channel Assignment
									<!--</h3>-->
								</div>
								<ul class="list-group">
									<li class="list-group-item">
										<div class="row ">
											<div class="col-sm-4"><label>Probe(s)</label></div>
											<div class="col-sm-4"><select class="form-control custom" id="consumerProbe">probes</select></div>
										</div>
										<div class="row ">
											<div class="col-sm-4"><label></label></div>
											<div class="col-sm-4"><span data-lift="Msg?id=consumerProbe_id&errorClass=has-error">Msg to appear here</span></div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="row ">
											<div class="col-sm-4">Phase 1 Channel</div>
											<div class="col-sm-4"><select class="form-control custom" name="consumerchannel_1" id="consumerchannel_1">channel</select></div>
										</div>
									</li>
									<div class="col-sm-4"><select style="display:none;" class="form-control custom" name="consumerchannel_2" id="consumerchannel_2">channel</select></div>
									<div class="col-sm-4"><select style="display:none;" class="form-control custom" name="consumerchannel_3" id="consumerchannel_3">channel</select></div>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5"></div>
						<div class="col-sm-3">
							<button class="btn btn-primary" id="submit" type="submit">Add Consumer Line</button>
						</div>
					</div>
				<br/>
				</div>
			</div>
		</div>
	</div>
</div>