<div data-lift="surround?with=consumers-wrap;at=content">
	<div class="panel panel-default">
		<div class="panel-heading">Select Power Consumer Type</div>
		<ul class="list-group">
			<li class="list-group-item">
				<div class="row" id="ConsumerTypeRow">
					<div class="col-sm-2"></div>
					<div class="col-sm-3"><a href="/system/consumer/createconsumerline3"><button type="button" class="btn btn-primary col-lg-9" >3 Phase Consumer</button></a></div>
					<div class="col-sm-3"><a href="/system/consumer/createconsumerline1"><button type="button" class="btn btn-primary col-lg-9" >1 Phase Consumer</button></a></div>
					<div class="col-sm-1"></div>
				</div>
			</li>
		</ul>
	</div>
</div>