<div data-lift="lift:surround?with=source-wrap;at=content">
    <div class="panel panel-primary">
        <div class="panel-heading">Delete Consumer Line</div>
        <div data-lift="PowerConsumerOps.deleteGroup">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="alt">Are you sure you want to delete group : <span id="groupName"></span>?</h5>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <!--<span id="yes" class="btn btn-primary">Delete</span>-->
                            <a id="yes" class="btn btn-primary" href=#>Yes</a>

                        </div>
                        <div class="col-sm-3">
                            <!--<span id="no" class="btn btn-primary">Cancel</span></a>-->
                            <a id="no" class="btn btn-primary" href=#>No</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>