<div data-lift="surround?with=source-wrap;at=content">
    <h2 class="alt">Delete Consumer</h2>
    <div data-lift="PowerConsumerOps.deleteLines">
        <p>Are you sure you want to delete source : <span id="consumername"></span>?</p>
        <a id="yes" href=#>Yes</a>
        <a id="no" href=#>No</a>
    </div>
</div>