<div data-lift="surround?with=consumers-wrap;at=content">
	<!--<h2 class="alt">Sources</h2>-->
	<!--<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>-->
	<style>
		li {list-style-type :none}
		#lift__noticesContainer___notice {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: #dff0d8;
		border-color: #d6e9c6;
		color: #3c763d;

		}

		table {
		border-collapse: collapse;
		width: 10%;
		}
		#lift__noticesContainer___warning {
		background-color: yellow;
		}

		#lift__noticesContainer___error {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: #f2dede;
		border-color: #ebccd1;
		color: #a94442;
		}

		input[type='checkbox'] {
		width:20px;
		height:20px;
		border-radius:2px;
		border:1px solid ;
		}
		input[type='checkbox']:checked {
		background: #abd;
		}
	</style>
	<div data-lift="PowerConsumerOps.list">
		<div class="lift:Msgs">
			<lift:error_msg></lift:error_msg>
			<lift:error_class></lift:error_class>
			<lift:notice_msg></lift:notice_msg>
		</div>
		<div data-lift="Notices"></div>



		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5 class="Power Consumers">Power Consumer Lines</h5>
			</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
				<th>Group</th>
				<th>Line</th>
				<th>Consumers</th>
				<th>Channels</th>
				<th>Phases</th>
				<th>Probes</th>
				<th>Action</th>
				</thead>
				<tbody id="consumerlist">
				<tr class="rows">
				<td class="consumerGroupName"></td>
				<td class="consumerLineName"></td>
				<td class="consumerNames"></td>
				<td class="consumerCH"></td>
				<td class="consumerPhases"></td>
				<td class="consumerProbeName"></td>
				<td class="actions"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="panel panel-primary">
        <div class="panel-heading">
            <h5 class="Power Consumers">Power Consumer Groups</h5>
        </div>
		<div  class="table-responsive">
		<table class="table">
            <thead>
            <th>Group</th>
            <th>Lines</th>
            <th>Consumers</th>
            <th>Channels</th>
            <th>Probes</th>
            <th>Action </th>
            </thead>
            <tbody id="consumergrouplist">
            <tr class="rows">
                <td class="consumerGroupName"></td>
                <td class="consumerLineName"></td>
                <td class="consumerNames"></td>
                <td class="consumerCH"></td>
                <td class="consumerProbeName"></td>
                <td class="actions"></td>
            </tr>
            </tbody>
        </table>
			</div>
	</div>
	</div>
</div>