<div data-lift="surround?with=base-wrap;at=content">
  <lift:head>
    <title data-lift="Menu.title">GRIT Systems: %*%</title>
  </lift:head>
  <div class="main-content">
    <div class="page-header">
      <h1>
        <span data-lift="Menu.title"></span>
        <div style="display:none; float:right;" id="ajax-spinner">
          <img src="/img/spinner.gif" width="16" height="16"/>
        </div>
      </h1>
    </div>
    <div id="content"></div>
  </div>
</div>
