<div data-lift="surround?with=settings-wrap;at=content">
    <div class="main-content">
        <span data-lift="embed?what=/templates-hidden/parts/settingsMenu"></span>
        <div class="row">
            <div class="systems-secondary">
                <!--<h2>System</h2>-->
                <div data-lift="embed?what=/templates-hidden/embed/selectuser"></div>
                <ul data-lift="Menus.group?group=products" class="nav nav-pills"></ul>
            </div>
            <div class="systems-main">
                <hr/>
                <span id="content"  class="col-xm-8"></span>
            </div>
        </div>
    </div>
</div>