<div data-lift="surround?with=settings-wrap;at=content">
    <div class="main-content">
        <div class="row">
            <div class="">
                <!--<h2>System</h2>-->
                <ul data-lift="Menus.group?group=config" class="nav nav-pills"></ul>
            </div>
            <div class="">
                <div data-lift="Notices"></div>
                <div id="content"></div>
            </div>

        </div>
    </div>
</div>
