<div data-lift="lift:surround?with=config-wrap;at=content">
    <div data-lift="ConfigurationOps.addConfMember">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <h5 id="" class="">Add Configuration Member</h5>
            </div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" id="InputEmail" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="conf">Configurations</label>
                        <select  class="form-control" id="conf" name="config">
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default" id="submit">Submit</button>
                </form>
            </div>

        </div>

        <div class="panel panel-primary config">
            <div class="panel-heading">
                <h5 id="heading" class="">Configuration Members for config : <span class="configName"></span>  </h5>
            </div>

                <div class="table-responsive ">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="userList">
                        <tr class="rows">
                            <td class="userName">Dummy Name</td>
                            <td class="email">Dummy Name</td>
                            <td class="actions">Actions</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


        </div>



    </div>
</div>