<div data-lift="lift:surround?with=config-wrap;at=content">
    <div class="panel panel-primary">
        <div class="panel-heading">Edit Configuration</div>
        <div data-lift="ConfigurationOps.edit?form=post">
            <div class="row"><br/></div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <span id="hidden"></span>
                    <form action="" id="userform">
                        <table>
                            <tr><td>Name</td><td><input id="configurationname" class="form-control" type="text"/></td></tr>
                            <tr>
                                <td></td>
                                <td><span data-lift="Msg?id=configurationName_id&errorClass=has-error">Msg to appear here</span></td>
                            </tr>
                            <tr><td>Assign to User</td><td><select class="form-control" id="configurationuser">users</select></td></tr>
                            <tr data-lift="hasPermission?name=config:edit">
                                <td></td>
                                <td><select id="allusers" class="form-control">channels</select></td>
                                <td>
                                    <button id="addusers" class="btn btn-primary" title="add users"       >>></button><br/>
                                    <button id="rm_users" class="btn btn-primary" title="remove users"    ><<</button>
                                </td>
                                <td><select id="groupmembers" class="form-control">channels</select></td>
                            </tr>
                            <tr><td>Error Threshold</td><td><input class="form-control" id="errorthreshold"/></td></tr>
                            <tr>
                                <td></td>
                                <td><span data-lift="Msg?id=configurationUser_id&errorClass=has-error">Msg to appear here</span></td>
                            </tr>
                            <tr><td>Select Probes</td><td><select id="configurationprobes" class="form-control">probes</select></td></tr>

                            <tr>
                                <td></td>
                                <td>Available Channels</td>
                                <td></td>
                                <td></td>
                                <td>Assigned Channels</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><select id="configurationchannels" class="form-control">channels</select></td>
                                <td> </td>
                                <td>
                                    <button id="addchannels" class="btn btn-primary" title="add channels"       >>></button><br/>
                                    <button id="rm_channels" class="btn btn-primary" title="remove channels"    ><<</button>
                                </td>
                                <td><select id="configurationchannelsremove" class="form-control">channels</select></td>
                            </tr>

                        </table>
                        <br/>
                        <div class="row">
                            <div class="col-sm-4"><label></label></div>
                            <div class="col-sm-2">
                                <input id="submit" class="btn btn-primary" type="submit" value="Save"/> <br /> <br />
                            </div>
                            <div class="col-sm-6"><label></label></div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>
