<div data-lift="lift:surround?with=config-wrap;at=content">
	<div data-lift="ConfigurationOps.list">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5 id="heading_user" class="">Configurations</h5>
			</div>
			<!--<div class="panel-body">-->
				<!--<a href="/system/configuration/createconfiguration"><button type="button" class="btn btn-primary " >New Configuration</button></a> <br /> <br />-->
			<!--</div>-->
			<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th>Configuration Name</th>
					<th>Owner</th>
					<th>Belongs to Group</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody id="configurationlist">
				<tr class="rows">
					<td class="configurationName">Dummy Name</td>
					<td class="configOwner">Dummy Name</td>
					<td class="parentGroup">Dummy Name</td>
					<td class="actions">Actions</td>
				</tr>
				</tbody>
			</table>
				</div>
		</div>
		<div class="panel panel-primary" data-lift="hasRole?name=admin">
			<div class="panel-heading">
				<h5 id="" class="">All Configurations</h5>
			</div>
			<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th>Configuration Name</th>
					<th>Owner</th>
					<th>Belongs to Group</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody id="configurationlistall">
				<tr class="rows">
					<td class="configurationName">Dummy Name</td>
					<td class="configOwner">Dummy Name</td>
					<td class="parentGroup">Dummy Name</td>
					<td class="actions">Actions</td>
				</tr>
				</tbody>
			</table>
		</div>
			</div>
	</div>
</div>