<div data-lift="lift:surround?with=config-wrap;at=content">
	<div data-lift="ConfigGroupOps.list">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5 id="heading_user" class="">Configuration Groups</h5>
			</div>
			<!--<div class="panel-body">-->
				<!--<a href="/system/configuration/creategroup"><button type="button" class="btn btn-primary " >New Configuration Group</button></a> <br /> <br />-->
			<!--</div>-->
			<table class="table">
				<thead>
					<tr>
						<th>Group Name</th>
						<th>Group Admin</th>
						<th>Source Configuration</th>
						<th>Member Configurations</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="configurationgrouplist">
					<tr class="rows">
						<td class="groupName">Dummy Name</td>
						<td class="groupAdmin">Dummy Name</td>
						<td class="sourceName">Dummy Name</td>
						<td class="memberNames">Dummy Name</td>
						<td class="actions">Actions</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5 id="" class="">All Configuration Groups</h5>
			</div>
			<!--<div class="panel-body">-->
			<!--<a href="/system/configuration/creategroup"><button type="button" class="btn btn-primary " >New Configuration Group</button></a> <br /> <br />-->
			<!--</div>-->
			<table class="table">
				<thead>
					<tr>
						<th>Group Name</th>
						<th>Group Admin</th>
						<th>Source Configuration</th>
						<th>Member Configurations</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="configurationgrouplistall">
					<tr class="rows">
						<td class="groupName">Dummy Name</td>
						<td class="groupAdmin">Dummy Name</td>
						<td class="sourceName">Dummy Name</td>
						<td class="memberNames">Dummy Name</td>
						<td class="actions">Actions</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>