<div data-lift="surround?with=base-wrap;at=content">
    <div class="main-content" style="margin-top:1em">
        <!--span data-lift="embed?what=/templates-hidden/parts/settingsMenu"></span-->
        <div data-lift="NotificationOps.display?form=post">
        <span id="hidden"></span>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Notification Configuration</h3>
            </div>
            <div class="panel-body">

                <div id="windowTab" >
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#resources">Notification Contacts</a></li>
                    </ul>
                    <div class="row tab-content col-lg-12 col-md-12 col-xs-12 ">
                        <div id="nContacts" class="row tab-pane fade in active"> <br> <!-- Resources tab -->
                            <div class="col-sm-12 tab-content">
                                <div class="col-sm-12">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-6">
                                                    <div class="dropdown" class="col-sm-6">
                                                        <!--<button class="btn btn-primary dropdown-toggle" type="text" data-toggle="dropdown">Email List-->
                                                            <!--<span class="caret"></span></button>-->
                                                        <select class="input-large form-control" id="emailList" name="emailList"></select>

                                                    </div>
                                                    <div><input type="hidden" id="emails" name="emails" value=""></div>

                                                    <div class="col-sm-16">
                                                        <input type="text" id="addEmail">
                                                        <button type="button" id="addEmailBttn">Add Email</button>
                                                        <button type="button" id="rmEmailBttn">Remove Email</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-6">
                                                    <div class="dropdown" class="col-sm-6">
                                                        <!--<button class="btn btn-primary dropdown-toggle" type="text" data-toggle="dropdown">Phone Number List-->
                                                            <!--<span class="caret"></span></button>-->
                                                        <select class="input-large form-control" id="phoneList" name="phoneList"></select>
                                                    </div>
                                                    <div><input type="hidden" id="phones" name="phones" value=""></div>

                                                    <div class="col-sm-16">
                                                        <input type="text" id="addPhone">
                                                        <button type="button" id="addPhoneBttn">Add Phone Number</button>
                                                        <button type="button" id="rmPhoneBttn">Remove Phone Number</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#usageAndInfrastructure">Usage And Infrastructure</a></li>
                    </ul>
                    <div class="row tab-content col-lg-12 col-md-12 col-xs-12 "><!--  tab content   -->
                    <div id="usageAndInfrastructure" class="tab-pane fade in active"><br/> <!-- Usage and infrastructure tab -->
                        <div class="col-sm-12 tab-content">
                            <div class="col-sm-12">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row ">
                                            <div class="col-sm-12">
                                                Depth Of Discharge: <br/>
                                                <span id="dodElem">
                                                    <br><span class="col-sm-5"> <select name="dodBelow" >
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                    </select>% below threshold</span>
                                                    <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="dodBelow" value="flag"></span>
                                                    <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="dodBelow" value="email"></span>
                                                    <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="dodBelow" value="sms"></span>

                                                    <br><span class="col-sm-5"><select name="dodAbove" >
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                     </select>% above threshold</span>
                                                    <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="dodAbove" value="flag"></span>
                                                    <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="dodAbove" value="email"></span>
                                                    <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="dodAbove" value="sms"></span>

                                                    <span class="col-sm-12 col-md-5">above threshold and is a multiple of
                                                        <select name="dodAboveAnd"><option value="5">5</option>
                                                            <option value="10">10</option>
                                                            <option value="15">15</option>
                                                            <option value="20">20</option>
                                                            <option value="20">25</option>
                                                            <option value="20">30</option>
                                                        </select></span>
                                                    <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="dodAboveAnd" value="flag"></span>
                                                    <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="dodAboveAnd" value="email"></span>
                                                    <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="dodAboveAnd" value="sms"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row ">
                                            <div class="col-sm-12">
                                                Power Threshold: <br/><br/>
                                                <span id="PTElem" >
                                                    <span class="col-sm-2 col-m-1"> Inverter</span> <br/>

                                                    <span class="col-sm-12" id="PTInvElem">
                                                        <span class="col-sm-7"> Value &nbsp;<select name="thresholdInv" value="value">
                                                            <option value="90">90%</option>
                                                            <option value="80">80%</option>
                                                            <option value="70">70%</option>
                                                            <option value="60">60%</option>
                                                            <option value="50">50%</option>
                                                            <option value="40">40%</option>
                                                            <option value="30">30%</option>
                                                            <option value="20">20%</option>
                                                            <option value="10">10%</option>
                                                        </select></span>
                                                        <span class="col-sm-5"> High for &nbsp;<select name="thresholdInv" value="time">
                                                                <option value="5">5min</option>
                                                                <option value="10">10min</option>
                                                                <option value="15">15min</option>
                                                                <option value="20">20min</option>
                                                            </select></span>

                                                        <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="thresholdInv" value="flag"></span>
                                                        <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="thresholdInv" value="email"></span>
                                                        <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="thresholdInv" value="sms"></span>
                                                    </span> <!-- End Inverter Elements -->

                                                    <span class="col-sm-2 col-m-1">Grid </span><br/>
                                                    <span class="col-sm-12" id="PTGridElem">
                                                        <span class="col-sm-7"> Value &nbsp;<select name="thresholdGrid" value="value">
                                                            <option value="90">90%</option>
                                                            <option value="80">80%</option>
                                                            <option value="70">70%</option>
                                                            <option value="60">60%</option>
                                                            <option value="50">50%</option>
                                                            <option value="40">40%</option>
                                                            <option value="30">30%</option>
                                                            <option value="20">20%</option>
                                                            <option value="10">10%</option>
                                                        </select></span>
                                                        <span class="col-sm-5"> High for &nbsp;<select name="thresholdGrid" value="time">
                                                            <option value="5">5min</option>
                                                            <option value="10">10min</option>
                                                            <option value="15">15min</option>
                                                            <option value="20">20min</option>
                                                        </select></span>
                                                        <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="thresholdGrid" value="flag"></span>
                                                        <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="thresholdGrid" value="email"></span>
                                                        <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="thresholdGrid" value="sms"></span>
                                                    </span> <!-- End Grid Elements -->

                                                     <span class="col-sm-2 col-m-1">Generator</span> <br/>
                                                    <span class="col-sm-12" id="PTGenElem" > <!-- Gen Elements -->
                                                        <span class="col-sm-7"> Value &nbsp;<select name="thresholdGen" value="value">
                                                            <option value="90">90%</option>
                                                            <option value="80">80%</option>
                                                            <option value="70">70%</option>
                                                            <option value="60">60%</option>
                                                            <option value="50">50%</option>
                                                            <option value="40">40%</option>
                                                            <option value="30">30%</option>
                                                            <option value="20">20%</option>
                                                            <option value="10">10%</option>
                                                        </select></span>
                                                        <span class="col-sm-5">
                                                        High &nbsp;<input type="checkbox" name="thresholdGenSt" value="high"> &nbsp;&nbsp; &nbsp;&nbsp;
                                                        Low &nbsp;<input type="checkbox" name="thresholdGenSt" value="low"> &nbsp;&nbsp; &nbsp;&nbsp;

                                                         for &nbsp;<select name="thresholdGen" value="time">
                                                            <option value="5">5min</option>
                                                            <option value="10">10min</option>
                                                            <option value="15">15min</option>
                                                            <option value="20">20min</option>
                                                        </select></span>
                                                        <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="thresholdGen" value="flag"></span>
                                                        <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="thresholdGen" value="email"></span>
                                                        <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="thresholdGen" value="sms"></span>
                                                    </span> <!-- Gen Elements End -->

                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row " id="sources">
                                            <span class="col-sm-12">Power source transition: <br></span>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row ">
                                            <div class="col-sm-5">Operating window </div>
                                            <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="oWindow" value="flag"></span>
                                            <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="oWindow" value="email"></span>
                                            <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="oWindow" value="sms"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- tabbed content End-->
                    </div>

                    <ul class="nav nav-tabs">
                       <li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
                    </ul>
                    <div class="row tab-content col-lg-12 col-md-12 col-xs-12 ">
                        <div id="resources" class="row tab-pane fade in active"> <br> <!-- Resources tab -->
                            <div class="col-sm-12 tab-content">
                                <div class="col-sm-12">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Fuel remaining &nbsp;<select name="fuelBelowX" id="fuel">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    <option value="125">125</option>
                                                    <option value="150">150</option>
                                                    <option value="200">200</option>
                                                </select>&nbsp;liters </div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="fuelBelowX" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="fuelBelowX" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="fuelBelowX" value="sms"></span>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Remaining battery capacity less &nbsp;<select name="batteryBelowX" id="bCapacity">
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">15</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                </select>&nbsp;amp-hour</div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="batteryBelowX" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="batteryBelowX" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="batteryBelowX" value="sms"></span>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Remaining Inverter Time &nbsp;<select name="InverterTime" id="InvTime">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                </select>&nbsp;hour(s)</div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="InverterTime" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="InverterTime" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="InverterTime" value="sms"></span>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Remaining prepaid utility unit less &nbsp;<select name="utilityBelowX" id="utility">
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">15</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                </select>&nbsp;kWh </div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="utilityBelowX" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="utilityBelowX" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="utilityBelowX" value="sms"></span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#quality">Quality</a></li>
                    </ul>
                    <div class="row tab-content col-lg-12 col-md-12 col-xs-12 ">
                        <div id="quality" class="row tab-pane fade in active"><br> <!-- Resources tab -->
                            <div class="col-sm-12 tab-content">
                                <div class="col-sm-12">
                                    <ul class="list-group">

                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Power Factor below threshold</div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="PfBelowT" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="PfBelowT" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="PfBelowT" value="sms"></span>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Voltage below threshold</div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="voltBelowT" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="voltBelowT" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="voltBelowT" value="sms"></span>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Voltage
                                                    <select id="voltPBelow" name="voltXBelowT">
                                                        <option value="2">2</option>
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                        <option value="20">25</option>
                                                        <option value="20">30</option>
                                                        <option value="50">50</option>
                                                    </select> % below threshold</div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="voltXBelowT" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="voltXBelowT" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="voltXBelowT" value="sms"></span>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Voltage above threshold</div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="voltAboveT" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="voltAboveT" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="voltAboveT" value="sms"></span>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Voltage
                                                    <select id="voltPAbove" name="voltXAboveT">
                                                        <option value="2">2</option>
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                        <option value="20">25</option>
                                                        <option value="20">30</option>
                                                        <option value="50">50</option>
                                                    </select> % above threshold</div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="voltXAboveT" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="voltXAboveT" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="voltXAboveT" value="sms"></span>
                                            </div>
                                        </li>
                                        <!--
                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-6">Voltage below threshold</div>
                                                <span class="col-sm-2">Flag&nbsp;&nbsp;<input type="checkbox" name="dod" value="true"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="dod" value="true"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="dod" value="true"></span>
                                            </div>
                                        </li>

                                         <li class="list-group-item">
                                             <div class="row ">
                                                 <div class="col-sm-6">Voltage below threshold</div>
                                                 <span class="col-sm-2">Flag&nbsp;&nbsp;<input type="checkbox" name="dod" value="true"></span>
                                                 <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="dod" value="true"></span>
                                                 <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="dod" value="true"></span>
                                             </div>
                                         </li>
                                             -->

                                             <li class="list-group-item">
                                                 <div class="row ">
                                                     <div class="col-sm-5">Phase is zero or < signal threshold on multiphase source</div>
                                                     <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="zeroPhase" value="flag"></span>
                                                     <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="zeroPhase" value="email"></span>
                                                     <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="zeroPhase" value="sms"></span>
                                                 </div>
                                             </li>

                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <ul class="nav nav-tabs">
                             <li class="active"><a data-toggle="tab" href="#syserror">System Error</a></li>
                         </ul>
                         <div class="row tab-content col-lg-12 col-md-12 col-xs-12 ">
                             <div id="syserror" class="row tab-pane fade in active"><br> <!-- Resources tab -->
                            <div class="col-sm-12 tab-content">
                                <div class="col-sm-12">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Signal overlap</div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="signalOverlap" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="signalOverlap" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="signalOverlap" value="sms"></span>
                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="row ">
                                                <div class="col-sm-5">Inverter output greater than input</div>
                                                <span class="col-sm-3">Push Notification&nbsp;&nbsp;<input type="checkbox" name="invOutGrtIn" value="flag"></span>
                                                <span class="col-sm-2">Email&nbsp;&nbsp;<input type="checkbox" name="invOutGrtIn" value="email"></span>
                                                <span class="col-sm-2">Sms&nbsp;&nbsp;<input type="checkbox" name="invOutGrtIn" value="sms"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

            </div>

                 <input type="submit" id="saveNotifConfig" value="save"/>
                </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>