<div data-lift="surround?with=base-wrap;at=content">
    <div class="main-content" id="layout-wrapper">
        <div class="lift:head" >
            <title data-lift="Menu.title">GRIT SYSTEMS: %*%</title>
        </div>
        <div class="lift:test_cond.loggedin">
            <div class="row" data-lift="homepageops.getUserStuff">
                <!--<div class="nav navbar-nav navbar-right">-->
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <!--<div class="row">-->
                    <select id="config" class="form-control" >config</select>
                    <select id="probe" class="form-control" >probe</select>
                    <input name="timeWindow" id="timeWindow">
                    <!--</div>-->
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="panel panel-default" id="row4" >
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Summary">Summary</span></strong></div>
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="pill" href="#tab-Power">Power</a></li>
                        <li><a data-toggle="pill" href="#tab-Energy">Energy</a></li>
                        <li><a data-toggle="pill" href="#tab-Timing">Time</a></li>
                        <li><a data-toggle="pill" href="#tab-Resources">Resources</a></li>
                        <li><a data-toggle="pill" href="#tab-Quality">Quality</a></li>
                    </ul>
                    <div id="tabletabs" class="tab-content col-lg-12 col-md-12 col-xs-12 col-xs-12 " >
                        <div id="tab-Power" class="tab-pane fade in active">
                            <table class='table' id="power_table" >
                                <thead>
                                <tr>
                                    <th colspan="2">Power Source</th>
                                    <th colspan="3" title="real power measured in watts" id="rl_scale">Real [W]</th>
                                    <th colspan="3" title="apparent power measured in volt ampere" id="app_scale">Apparent [VA]</th>
                                    <th colspan="3" title="reactive power measured in volt ampere reactive" id="rx_scale">Reactive [VAR]</th>
                                </tr>
                                <tr>
                                    <th data-field="TYPE" >Type</th>
                                    <th data-field="NAME" >Name</th>
                                    <th data-field="MIN_REAL" >Min</th>
                                    <th data-field="AVG_REAL" >Avg</th>
                                    <th data-field="MAX_REAL" >Max</th>
                                    <th data-field="MIN_APPARENT" >Min</th>
                                    <th data-field="AVG_APPARENT" >Avg</th>
                                    <th data-field="MAX_APPARENT" >Max</th>
                                    <th data-field="MIN_REACTIVE" >Min</th>
                                    <th data-field="AVG_REACTIVE" >Avg</th>
                                    <th data-field="MAX_REACTIVE" >Max</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div id="tab-Energy" class="tab-pane fade">
                            <table class="table" id="energy_table">
                                <thead>
                                <tr>
                                    <th  colspan="2">Power Source</th>
                                    <th  colspan="2">Energy</th>
                                </tr>
                                <tr>
                                    <th data-field="TYPE" >Type</th>
                                    <th data-field="NAME" >Name</th>
                                    <th data-field="WATT"  title="Watt Hours" id="e_scale">Wh</th>
                                    <th data-field="PERCENT"  title="Percent">%</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div id="tab-Timing" class="tab-pane fade">
                            <table class="table" id="time_table">
                                <thead>
                                <tr>
                                    <th colspan="2">Power Source</th>
                                    <th colspan="2">Operational Time</th>
                                </tr>
                                <tr>
                                    <th data-field="TYPE" >Type</th>
                                    <th data-field="NAME" >Name</th>
                                    <th data-field="HOUR" >HH:MM:SS</th>
                                    <th data-field="PERCENT" >%</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div id="tab-Resources" class="tab-pane fade">
                            <table class="table" id="resources_table">
                                <thead>
                                <tr>
                                    <th colspan="2">Power Source</th>
                                    <th colspan="2">Fuel </th>
                                    <th colspan="2">Battery </th>
                                    <th colspan="1">Cost</th>

                                </tr>
                                <tr>
                                    <th data-field="TYPE" >Type</th>
                                    <th data-field="NAME" >Name</th>
                                    <th data-field="LITERS" >Liters</th>
                                    <th data-field="%" >%</th>
                                    <th data-field="AH"  title="Ampere Hours">AH</th>
                                    <th data-field="PERCENT" >%</th>
                                    <th data-field="AMOUNT" >₦</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div id="tab-Quality" class="tab-pane fade">
                            <table class="table" id="quality_table">
                                <thead>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong><span class="glyphicon glyphicons-th"></span> <span data-i18n="History">History</span></strong></div>
                    <div class="row row-full" id="row2" >
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#real">Real</a></li>
                            <li><a data-toggle="pill" href="#apparent">Apparent</a></li>
                            <li><a data-toggle="pill" href="#reactive">Reactive</a></li>
                        </ul>
                        <div id="item1" class="tab-content col-lg-8 col-md-8 col-xs-12 col-xs-12" >
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="dashboard-box ">
                                        <div id="real" class="tab-pane fade in active">
                                            <h5>Real Power by Source Type</h5>
                                            <div class="graph" id="graph"></div>
                                        </div>
                                        <div id="apparent" class="tab-pane fade">
                                            <h5>Apparent Power by Source Type</h5>
                                            <div class="graph" id="graphapparent"></div>
                                        </div>
                                        <div id="reactive" class="tab-pane fade">
                                            <h5>Reactive Power by Source Type</h5>
                                            <div class="graph" id="graphreactive"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12 col-xs-12">
                            <div class="row ">
                                <div class="col-xs-12 tab-content">
                                    <div class="dashboard-box ">
                                        <h5>Energy / Power Source </h5>
                                        <div id="EnergyCharts" class="graph"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong><span class="glyphicon glyphicons-stats"></span> <span data-i18n="Realtime">Realtime</span></strong></div>

                    <div class="row row-full" id="row3" >
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#real_live">Real</a></li>
                            <li><a data-toggle="pill" href="#apparent_live">Apparent</a></li>
                            <li><a data-toggle="pill" href="#reactive_live">Reactive</a></li>
                            <li><a data-toggle="pill" href="#all_live">All</a></li>
                        </ul>
                        <div data-lift="AddRealtimeUser" id="realtime_stuff" class="tab-content col-lg-8 col-md-8 col-xs-12 col-xs-12 " >
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="dashboard-box ">
                                        <div id="real_live" class="tab-pane fade in active">
                                            <h5>Real Power Transient</h5>
                                            <div id="realpower_live" class="graph" ></div>
                                        </div>
                                        <div id="apparent_live" class="tab-pane fade">
                                            <h5>Apparent Power Transient</h5>
                                            <div id="apparentpower_live" class="graph" ></div>
                                        </div>
                                        <div id="reactive_live" class="tab-pane fade">
                                            <h5>Reactive Power Transient</h5>
                                            <div id="reactivepower_live" class="graph" ></div>
                                        </div>
                                        <div id="all_live" class="tab-pane fade">
                                            <h5>All Power Transient</h5>
                                            <div id="allpower_live" class="graph" ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12 col-xs-12 ">
                            <div class="row">
                                <div class="col-xs-12 tab-content">
                                    <div class="dashboard-box">
                                        <h5>Time / Power Source </h5>
                                        <div id="TimeCharts" class="graph" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Table">Table</span></strong></div>-->
            <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th>#</th>-->
            <!--<th>Project</th>-->
            <!--<th>Manager</th>-->
            <!--<th>Status</th>-->
            <!--<th>Progress</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
            <!--<td>1</td>-->
            <!--<td><span class="color-success"><i class="fa fa-level-up"></i></span> TWLT</td>-->
            <!--<td>Amery Lee</td>-->
            <!--<td><span class="label label-info">Pending</span></td>-->
            <!--<td><div class="progressbar-xs no-margin progress ng-isolate-scope" value="55">-->
            <!--<div class="progress-bar" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="55%" ng-transclude="" style="width: 55%;"></div>-->
            <!--</div>-->
            <!--</td></tr>-->
            <!--<tr>-->
            <!--<td>2</td>-->
            <!--<td><span class="color-success"><i class="fa fa-level-up"></i></span> A16Z</td>-->
            <!--<td>Romayne Carlyn</td>-->
            <!--<td><span class="label label-primary">Due</span></td>-->
            <!--<td><div class="progressbar-xs no-margin progress ng-isolate-scope" value="34" type="success">-->
            <!--<div class="progress-bar progress-bar-success" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="34%" ng-transclude="" style="width: 34%;"></div>-->
            <!--</div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>3</td>-->
            <!--<td><span class="color-warning"><i class="fa fa-level-down"></i></span> DARK</td>-->
            <!--<td>Marybeth Joanna</td>-->
            <!--<td><span class="label label-success">Due</span></td>-->
            <!--<td><div class="progressbar-xs no-margin progress ng-isolate-scope" value="68" type="info">-->
            <!--<div class="progress-bar progress-bar-info" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="68%" ng-transclude="" style="width: 68%;"></div>-->
            <!--</div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>4</td>-->
            <!--<td><span class="color-info"><i class="fa fa-level-up"></i></span> Q300</td>-->
            <!--<td>Jonah Benny</td>-->
            <!--<td><span class="label label-danger">Blocked</span></td>-->
            <!--<td><div class="progressbar-xs no-margin progress ng-isolate-scope" value="52" type="warning">-->
            <!--<div class="progress-bar progress-bar-warning" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="52%" ng-transclude="" style="width: 52%;"></div>-->
            <!--</div></td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>5</td>-->
            <!--<td><span class="color-danger"><i class="fa fa-level-down"></i></span> RVNG</td>-->
            <!--<td>Daly Royle</td>-->
            <!--<td><span class="label label-warning">Suspended</span></td>-->
            <!--<td><div class="progressbar-xs no-margin progress ng-isolate-scope" value="77" type="danger">-->
            <!--<div class="progress-bar progress-bar-danger" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="77%" ng-transclude="" style="width: 77%;"></div>-->
            <!--</div></td>-->
            <!--</tr>-->

            <!--</tbody>-->
            <!--</table>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="lift:homepageops.start"></div><br/>-->
            <!--<div class="lift:homepageops.stop"></div><br/>-->
            <!--<div class="lift:homepageops.configid"></div><br/>-->
            <!--<div class="lift:homepageops.probeid"></div>-->
            <!--</div>-->

            <div class="row">
                <!--<div class="col-xs-1"></div>-->
                <div class="col-xs-11">
                    <span data-lift="embed?what=/templates-hidden/parts/footer"></span>
                </div>
            </div>
            <script src="/js/ikenna.min.js" ></script>
        </div>
    </div>

