<div data-lift="surround?with=data-wrap;at=content">
    <div class="main-content" data-lift="ExportOps">
        <style>
            .radio-inline{
                margin-right:1.5em
            }


        </style>
        <div class="panel panel-primary">
            <div class="panel-heading">Export Settings</div>
                <div>
                    <span id="hidden"></span>
                    <form method="post">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-sm-4"><label>User</label></div>
                                <div class="col-sm-4"><select class="form-control custom" id="users"></select></div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-sm-4"><label>Configuration</label></div>
                                <div class="col-sm-4">
                                    <input class="form-control" id="config" type="text"/>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-sm-4"><label>Sample Point</label></div>
                                <div class="col-sm-4">
                                    <select class="form-control custom" id="pointType" name="samplePoint">
                                        <option selected="selected" disabled>Select</option>
                                        <option>Year</option>
                                        <option selected="selected">Month</option>
                                        <option>Week</option>
                                        <option>Day</option>
                                        <option>Hour</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <div class='input-group date' id='datetimepicker5'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-sm-4"><label>Data Step</label></div>
                                <div class="col-sm-4">
                                    <select class="form-control custom" id="interval" name="interval">
                                        <option>Month</option>
                                        <option>Week</option>
                                        <option>Day</option>
                                        <option selected="selected">Hour</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-sm-4"><label>Phase</label></div>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="phase" id="inlineRadio1" value="1">1
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="phase" id="inlineRadio2" value="2"> 2
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="phase" id="inlineRadio3" value="3"> 3
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="phase" id="inlineRadio4" value="all"> All
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="phase" id="inlineRadio5" value="min"> Min
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-sm-4"><label>Variability</label></div>
                                <div class="col-sm-4">
                                    <input  class="form-control" id="variability"   name="variability" type="number" min="0" max="100">
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-sm-4"><label>Day-Day Variability</label></div>
                                <div class="col-sm-4">
                                    <input  class="form-control" id="variability"   name="variability" type="number" min="0" max="100">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="hidden" id="stop" name="stop">
                            <input type="hidden" id="start" name="start">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary" id="submit" type="submit">Export</button>
                        </div>
                    </div>
                    </form>
                    <br/>
                </div>
        </div>
        <script>
            $(function () {
                var selected,input,start,stop;
                selected = $( "#pointType option:selected" ).text();
                $("#pointType").change(function(){
                   selected = $( "#pointType option:selected" ).text();
                   console.log(selected);
                   changeDateTimePicker(selected);
                })
                var picker = $('#datetimepicker5').datetimepicker({
                    viewMode: 'years',
                    format: 'MM/YYYY',
                });

               picker.on("dp.change", function(e) {
               console.log(selected)
                   if(selected == "Year") {
                      input = $('#datetimepicker5 input').val()
                      var time = moment(input,'YYYY')
                      start = moment(new Date(time)).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      time.add(1, 'years').format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      stop =  moment(new Date(time)).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      console.log(start)
                      console.log(stop)
                      $('#start').val(start)
                      $('#stop').val(stop)
                   } else if (selected == "Month") {
                      input = $('#datetimepicker5 input').val()
                      var time = moment(input,'MM/YYYY')
                      start = moment(new Date(time)).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      time.add(1, 'months').format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      stop =  moment(new Date(time)).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      console.log(start)
                      console.log(stop)
                      $('#start').val(start)
                      $('#stop').val(stop)
                   } else if (selected == "Week") {
                      input = $('#datetimepicker5 input').val()
                      var time = moment(input,'DD/MM/YYYY HH:mm')
                      start = moment(new Date(time)).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      time.add(1, 'weeks').format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      stop =  moment(new Date(time)).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      console.log(start)
                      console.log(stop)
                      $('#start').val(start)
                      $('#stop').val(stop)
                   } else if (selected == "Day") {
                      input = $('#datetimepicker5 input').val()
                      var time = moment(input,'DD/MM/YYYY HH:mm')
                      start = moment(new Date(time)).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      time.hours(23).minutes(59).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      stop = moment(new Date(time)).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      $('#start').val(start)
                      $('#stop').val(stop)
                   } else if (selected == "Hour") {
                      input = $('#datetimepicker5 input').val()
                      console.log(input)
                      var time = moment(input,'DD/MM/YYYY HH:mm')
                      start = moment(new Date(time)).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      time.add(1,'hours').format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      stop = moment(new Date(time)).format("YYYY-MM-DDTHH:mm:ss.SSSZ")
                      console.log(stop)
                      console.log(start)
                      console.log(time)
                      $('#start').val(start)
                      $('#stop').val(stop)
                   }
                   console.log(e.date)
                });

                function changeDateTimePicker(period){
                    if(period == "Year") {
                        $('#datetimepicker5').data("DateTimePicker").format("YYYY")
                        $('#datetimepicker5').data("DateTimePicker").viewMode("years")
                    }  else if (period == "Month") {
                        $('#datetimepicker5').data("DateTimePicker").format("MM/YYYY")
                        $('#datetimepicker5').data("DateTimePicker").viewMode("years")
                    }else if (period == "Week") {
                        $('#datetimepicker5').data("DateTimePicker").format("DD/MM/YYYY")
                        $('#datetimepicker5').data("DateTimePicker").viewMode("years")
                    } else if (period == "Day") {
                        $('#datetimepicker5').data("DateTimePicker").format("DD/MM/YYYY")
                        $('#datetimepicker5').data("DateTimePicker").viewMode("years")
                    } else if (period == "Hour") {
                        $('#datetimepicker5').data("DateTimePicker").format("DD/MM/YYYY HH:00")
                        $('#datetimepicker5').data("DateTimePicker").viewMode("years")
                    }
                }
            });
        </script>
    </div>
</div>