<div data-lift="surround?with=data-wrap;at=content">
    <div class="main-content">
        <div class="row">
            <div class="system-secondary">
                <!--<h2>System</h2>-->
                <ul data-lift="Menus.group?group=charts" class="nav nav-pills"></ul>
            </div>
            <div class="system-main">
                <div style="margin: 12px; border: 2px solid purple">
                    <ul data-lift="comet?type=Chat">
                        <li>Line 1</li>
                        <li class="clearable">Line 2</li>
                        <li class="clearable">Line 3</li>
                    </ul>
                    <form data-lift="Form.ajax">
                        <input data-lift="ChatIn" id="chat_in">
                        <input type="submit" value="Chat">
                    </form>
                </div>
                <div data-lift="AddRealtimeUser">
                    <p>The item is:</p>
                    <h4 id="itemName"></h4>
                    <span>Price is: </span>
                    <h4 id="price">$</h4>
                    <hr>
                    <button class="btn btn-primary" id="update"></button>
                    <hr>
                </div>
                    <!--<div>-->
                        <!--<h2>Your first CometActor!</h2>-->
                        <!--<div data-lift="comet?type=Clock" name="Other">-->
                            <!--Current Time: <clk:time>Missing Clock</clk:time>-->
                            <!--Current Time: <div data-clk="time">Missing Clock</div>-->
                        <!--</div>-->
                        <!--<lift:comet type="Clock" name="Other">-->
                            <!--Current Time: <clk:time>Missing Clock</clk:time>-->
                        <!--</lift:comet>-->
                    <!--</div>-->
                <div data-lift="Notices"></div>
                <div class="row">
                    <div class="panel panel-default" >
                        <div class="panel-heading"><strong><span class="glyphicon glyphicons-stats"></span> <span data-i18n="Realtime">Realtime</span></strong></div>

                        <div class="row row-full" id="row3" >
                            <ul class="nav nav-pills">
                                <li class="active"><a data-toggle="pill" href="#real_live">Real</a></li>
                                <li><a data-toggle="pill" href="#apparent_live">Apparent</a></li>
                                <li><a data-toggle="pill" href="#reactive_live">Reactive</a></li>
                                <li><a data-toggle="pill" href="#all_live">All</a></li>
                            </ul>
                            <div id="item2" class="tab-content col-lg-8 col-md-8 col-xs-12 col-xs-12 " >
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="dashboard-box ">
                                            <div id="real_live" class="tab-pane fade in active">
                                                <h5>Real Power Transient</h5>
                                                <div id="realpower_live" class="graph" ></div>
                                            </div>
                                            <div id="apparent_live" class="tab-pane fade">
                                                <h5>Apparent Power Transient</h5>
                                                <div id="apparentpower_live" class="graph" ></div>
                                            </div>
                                            <div id="reactive_live" class="tab-pane fade">
                                                <h5>Reactive Power Transient</h5>
                                                <div id="reactivepower_live" class="graph" ></div>
                                            </div>
                                            <div id="all_live" class="tab-pane fade">
                                                <h5>All Power Transient</h5>
                                                <div id="allpower_live" class="graph" ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 col-xs-12 ">
                                <div class="row">
                                    <div class="col-xs-12 tab-content">
                                        <div class="dashboard-box">
                                            <h5>Time / Power Source </h5>
                                            <div id="TimeCharts" class="graph" ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content"></div>
            </div>
            <script src="/js/events.min.js" ></script>
        </div>
    </div>
</div>
