<div data-lift="surround?with=base-wrap;at=content" style="box-sizing: content-box;">
    <div data-lift="GRIT_InvoiceOps.accept?form=post">
        <span id="hidden"></span>

        <!-- Small modal -->
        <div class="modal fade successModal" tabindex="-1" role="dialog" aria-labelledby="successModal">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background: #4cae4c;color:white">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title" id="myModalLabel"><b>Proceed to Payments</b></h5>
                    </div>
                    <div class="modal-body"  >
                        Agreement was received. Would you like to pay online?
                    </div>
                    <div class="modal-footer">
                        <a href="/bills" type="button" id="payButton" class="btn btn-success"> <i class="fa fa-credit-card"></i> Pay with Card </a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-top:3em">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Accept Invoice</b></h3>
            </div>
            <div class="panel-body" id="cover">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-2"><label>Account</label></div>
                                    <div class="col-sm-6">
                                        <input class="form-control custom" id="account"/>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" >
                                <div class="row" style="margin-bottom:0.7em">
                                    <div class="col-sm-2">
                                        <label>Qty</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <label>Product</label>
                                    </div>
                                    <div class="col-sm-3"><label>Unit Price</label></div>
                                </div>
                                <div id="LineFields">
                                    <div id="lines">
                                        <div class="row" style="margin-bottom:1em">
                                            <div class="col-sm-2">
                                                <input class="form-control qty" name="qty" type="number" required/>
                                            </div>
                                            <div class="col-sm-7">
                                                <input class="form-control product" name="product" type="text" required/>
                                            </div>
                                            <div class="col-sm-3">
                                                <input class="form-control price" name="price" type="number" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-2"><label>Terms & Conditions</label></div>
                                    <div class="col-sm-10">
                                        <div style="border: 1px solid #e5e5e5; height: 150px; overflow: auto; padding: 10px;">
                                            <ul style="list-style-type:square">
                                            <li>All charges are due and payable after confirmation of the invoice. The customer is obliged to pay the fees which result from the installation of the energy monitor.</li>
                                            <li>We are not compelled to deliver your order at any given time. We would deliver as soon as stock is available.</li>
                                            <li>If we are unable to deliver your order for any given reason, we would refund in full within five (5) working days.</li>
                                            <li>By ticking on confirm and install, the customer is bound to these terms and conditions.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label style="font-weight:normal">
                                            <input type="checkbox" name="agree" value="agree" required />  Confirm and Install
                                        </label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-primary" id="submit" type="submit">Submit</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    </script>
</div>

