<div data-lift="lift:surround?with=payment-wrap;at=content">
    <div data-lift="AccountOps.delete">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">Delete Account</div>

                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="alert alert-warning" role="alert">Account <b><i><span id="name"></span></i></b> will be deleted</div>
                    </div>


                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <span id="yes" class="btn btn-primary">Delete</span>
                    </div>
                    <div class="col-sm-3">
                        <span id="no" class="btn btn-primary">Cancel</span></a>
                    </div>

                </div>
                <div class="row"><br/></div>
            </div>
        </div>
    </div>
    <script src="/js/powerSources.min.js"></script>
</div>