<div data-lift="surround?with=payment-wrap;at=content">
    <div data-lift="GRIT_InvoiceOps.edit?form=post">
        <span id="hidden"></span>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6"><label>Account</label></div>
                                    <div class="col-sm-6">
                                        <select class="form-control custom" id="accounts"></select>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6"><label>Date Due</label></div>
                                    <div class="col-sm-6">
                                        <div class='input-group date' id='datetimepicker5'>
                                            <input type='text' name="date" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <input type="hidden" id="hiddenDate"/>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6"><label>Status</label></div>
                                    <div class="col-sm-6"><input class="form-control" id="status" type="text" /></div>
                                </div>
                            </li>
                            <li class="list-group-item" >
                                <div class="row" style="margin-bottom:0.7em">
                                    <div class="col-sm-2">
                                        <label>Qty</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <label>Product</label>
                                    </div>
                                    <div class="col-sm-3"><label>Unit Price</label></div>
                                </div>
                                <div id="LineFields">
                                    <div id="lines">
                                        <div class="row" style="margin-bottom:1em">
                                            <div class="col-sm-2">
                                                <input class="form-control qty" name="qty" type="number" required/>
                                            </div>
                                            <div class="col-sm-7">
                                                <input class="form-control product" name="product" type="text" required/>
                                            </div>
                                            <div class="col-sm-3">
                                                <input class="form-control price" name="price" type="number" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <button type="button" id="addField" style="margin-top:1em;margin-left:15px" class="btn btn-info">Add Row</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-primary" id="submit" type="submit">Save</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var i = 0;
        $(function() {
            console.log($("#hiddenDate").val())
            $('#datetimepicker5').datetimepicker({
                defaultDate: $("#hiddenDate").val()
            });
        });
        document.getElementById("addField").addEventListener("click", function () {
            var row = document.createElement("div");
            row.className += " row"
            row.style.marginBottom = "1em"
            var qtyDiv = document.createElement("div");
            qtyDiv.className += " col-sm-2"
            var qty = document.createElement("input");
            qty.className = " form-control qty";
            qty.setAttribute("type", "number");
            qty.setAttribute("required", "required");
            qty.name = 'qty';
            qtyDiv.appendChild(qty)
            var productDiv = document.createElement("div");
            productDiv.className += " col-sm-7"
            var product = $('.product').first().clone().attr("id",i).attr("onChange","");
            product.appendTo(productDiv)
            var priceDiv = document.createElement("div");
            priceDiv.className += " col-sm-3"
            var price = document.createElement("input");
            price.className = " form-control price";
            price.setAttribute("type", "number");
            price.setAttribute("required", "required");
            price.setAttribute("id",'p'+i)
            price.name = 'price';
            priceDiv.appendChild(price)
            row.appendChild(qtyDiv)
            row.appendChild(productDiv)
            row.appendChild(priceDiv)
            document.getElementById("LineFields").appendChild(row);
            $('#p'+i).val(amount[$('#'+i).val()])
            i++;
            $('.product').unbind("change");
            $('.product').change(function(){
                console.log($(this).attr('id'));
                var id = $(this).attr('id');
                $('#p'+id).val(amount[$(this).val()])
            });
        })
    </script>
</div>

