<div data-lift="surround?with=payment-wrap;at=content">
    <div data-lift="AccountOps.edit?form=post">
        <span id="hidden"></span>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create Account</h3>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-sm-6"><label>Account Name</label></div>
                                <div class="col-sm-6">
                                    <input class="form-control"  id="name" />
                                    <span style="margin-top:0.7em;display:block"><span  data-lift="Msg?id=Name_id&errorClass=has-error">Msg to appear here</span></span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-sm-6"><label>User</label></div>
                                <div class="col-sm-6">
                                    <select class="form-control custom" id="user"></select>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-sm-6"><label>Payment Plan</label></div>
                                <div class="col-sm-6">
                                    <input  id="plan" class="form-control" />
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" >
                            <div class="row ">
                                <div class="col-sm-6"><label>Monthly Installments</label></div>
                                <div class="col-sm-6">
                                    <input id="monthlyInstall" class="form-control" />
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" >
                            <div class="row ">
                                <div class="col-sm-6"><label>Total Installment</label></div>
                                <div class="col-sm-6">
                                    <input id="totalInstall" class="form-control" />
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" >
                            <div class="row ">
                                <div class="col-sm-6"><label>Billing Day</label></div>
                                <div class="col-sm-6">
                                    <input id="billingDate" class="form-control"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <button class="btn btn-primary" id="submit" type="submit">Save</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            console.log($("#hiddenDate").val())
            $('#datetimepicker5').datetimepicker({
                defaultDate: $("#hiddenDate").val()
            });
        });
    </script>
</div>