<div data-lift="surround?with=payment-wrap;at=content">
    <div data-lift="AccountOps.list">
        <div class="row" style="margin-top:1em">
            <form method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5 class="alt" >Accounts</h5>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Total Paid (&#8358)</th>
                            <th>Owing (&#8358)</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="invoiceList">
                        <tr class="rows">
                            <td >
                                <span class="name" style="display: inline-block;">Dummy Name</span>
                            </td>
                            <td>
                                <span class="paid" style="display: inline-block;">Dummy Name</span>
                            </td>
                            <td>
                                <span class="owing" style="display: inline-block;">Dummy Name</span>
                            </td>
                            <td class="actions">Actions</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </form>
        </div>
    </div>
</div>