<div data-lift="surround?with=payment-wrap;at=content">
    <div data-lift="GRIT_InvoiceOps.list">
        <div class="row" style="margin-top:1em">
            <form method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5 class="alt" >Invoices</h5>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Ref. No</th>
                            <th>Account</th>
                            <th>Amount Payable (&#8358)</th>
                            <th>Date Due</th>
                            <th>Actions</th>
                            <th>Send</th>
                            <th>Download</th>
                        </tr>
                        </thead>
                        <tbody id="invoiceList">
                        <tr class="rows">
                            <td >
                                <span class="ref" style="display: inline-block;">Dummy Name</span>
                            </td>
                            <td>
                                <span class="user" style="display: inline-block;">Dummy Name</span>
                            </td>
                            <td>
                                <span class="amount" style="display: inline-block;">Dummy Name</span>
                            </td>
                            <td>
                                <span class="date" style="display: inline-block;">Dummy Name</span>
                            </td>
                            <td class="actions">Actions</td>
                            <td class="send">Send</td>
                            <td class="download"><i class="fa fa-download " aria-hidden="true"></i></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </form>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.options = {
              "closeButton": false,
              "debug": false,
              "newestOnTop": false,
              "progressBar": false,
              "positionClass": "toast-top-right",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }
        </script>
    </div>
</div>