<div data-lift="surround?with=payment-wrap;at=content">
    <div data-lift="PaymentSettingsOps.settings?form=post">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="">General Settings</h5>
            </div>
            <span id="hidden"></span>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Setting</th>
                        <th>Value</th>

                    </tr>
                    </thead>
                    <tbody id="rolelist">
                    <tr class="rows">
                        <td id="exRate">Exchange Rate</td>
                        <td><input class="form-control" id="exRateValue" type="number" /></td>
                        
                    </tr>
                    <tr class="rows">
                        <td id="margin">Margin</td>
                        <td ><input class="form-control" id="marginValue" type="number" /></td>

                    </tr>
                    <tr class="rows">
                        <td id="LI">Lease Interest</td>
                        <td><input class="form-control" id="LiValue" type="number" /></td>

                    </tr>
                    <tr class="rows">
                        <td id="vat">VAT</td>
                        <td><input class="form-control" id="vatValue" type="number" /></td>

                    </tr>
                    <tr class="rows">
                        <td id="sub">Subscriptiion price</td>
                        <td><input class="form-control" id="subPrice" type="number" /></td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <button class="btn btn-primary" id="submit" type="submit">Save</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" id="cancel" type="submit">Cancel</button>
    </div>
</div>