
<div data-lift="lift:surround?with=default;at=content">
	<div data-lift="JsonForm" >
	<div data-lift="MultiSelectStateful?form=post">
		<p>What can I get you?</p>
		<div id="multi">options go here</div>
		<input type="submit" value="Place Order">
	</div>
	<script src="/classpath/jlift.js" data-lift="tail"></script>

		<script id="jsonScript" data-lift="tail"></script>
		<div id="jsonForm">
			<label for="name">
				Institution
				<input id="name" type="text" name="name" value="Royal Society" />
			</label>
			<label for="motto">
				Motto
				<input id="motto" type="text" name="motto" value="Nullius in verba" />
			</label>
			<input type="submit" value="Send" />
		</div>
		<div id="result">
			Result will appear here.
		</div>
	</div>
</div>