<div data-lift="lift:surround?with=source-wrap;at=content">
    <div data-lift="PowerSourceOps" >
        <script src="/classpath/jlift.js" data-lift="tail"></script>

        <script id="jsonScript" data-lift="tail"></script>
        <div data-lift="AjaxForm?form=post">

            <!--<div data-lift="PowerSourceOps.create?form=post">-->
                <table>
                    <tr>
                        <td>Source Name</td>
                        <td><input id="sourcename" type="text"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Source Type</td>
                        <td>
                            <select id="sourcetype">
                                <option value="gen">generator</option>
                                <option value="grid">grid</option>
                                <option value="inverter">inverter</option>
                                <option value="other">other</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Assign to Probe</td>
                        <td><select id="sourceprobes">probes</select></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button id="addchannel" type="button">Add Ch</button></td>
                        <td><button id="removechannel" type="button">Remove Ch</button></td>
                    </tr
                    <tr><td>Source Channel 0 to Probe Channel </td><td><select id="sourcechannel1">channel</select></td></tr>
                    <tr><td>Source Channel 1 to Probe Channel </td><td><select id="sourcechannel2">channel</select></td></tr>
                    <tr><td>Source Channel 2 to Probe Channel </td><td><select id="sourcechannel3">channel</select></td></tr>
                </table>
            <!--</div>-->
        <!--<div id="jsonForm">-->
            <!--<label for="name">-->
                <!--Institution-->
                <!--<input id="name" type="text" name="name" value="Royal Society" />-->
            <!--</label>-->
            <!--<label for="motto">-->
                <!--Motto-->
                <!--<input id="motto" type="text" name="motto" value="Nullius in verba" />-->
            <!--</label>-->
            <!--<input type="submit" value="Send" />-->
        <!--</div>-->
        <!--<div id="result">-->
            <!--Result will appear here.-->
        <!--</div>-->
        <!--Choose city and state:<br>-->
            <!--State: <select id="state"></select>-->
            <!--City: <select id="city"></select>-->
            <!--<input type="submit">-->
        </div>
    </div>
</div>
