<div data-lift="lift:surround?with=source-wrap;at=content">
    <!--<div data-lift="PowerSourceOps" >-->
        <script src="/classpath/jlift.js" data-lift="tail"></script>
        <script id="jsonScript" data-lift="tail"></script>
        <div data-lift="GeneratorOps?form=post">
            <span id="hidden"></span>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">Create New Power Source</div>

                    <div class="row">
                        <br/>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <table class="table">
                                <tr>
                                    <td><label>Name</label></td>
                                    <td>
                                        <input class="form-control" id="sourcename" type="text"/>
                                        <span data-lift="Msg?id=sourceName_id&errorClass=has-error">Msg to appear here</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Signal Threshold</label></td>
                                    <td>
                                        <input class="form-control" id="signalThreshold" type="text"/>
                                        <span data-lift="Msg?id=signalThreshold_id&errorClass=has-error">Msg to appear here</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Type</label></td>
                                    <td><label>Single Phase Generator</label></td>
                                    <input id="sourcetype" type="text" value="generator" hidden/>
                                    <input id="numberofphases" type="number" value="1" hidden/>
                                </tr>
                            </table>
                            <hr>
                             <!--   -------------- -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <!--<h3 class="panel-title">-->
                                    Channel Assignment
                                    <!--</h3>-->
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row ">
                                            <div class="col-sm-4"><label>Config</label></div>
                                            <div class="col-sm-4"><select class="form-control custom" id="sourceconfig">config</select></div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-sm-4"><label></label></div>
                                            <div class="col-sm-4"><span data-lift="Msg?id=ConfigID_FK_id&errorClass=has-error">Msg to appear here</span></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row ">
                                            <div class="col-sm-4"><label>Probe(s)</label></div>
                                            <div class="col-sm-4"><select class="form-control custom" id="sourceprobes">probes</select></div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-sm-4"><label></label></div>
                                            <div class="col-sm-4"><span data-lift="Msg?id=ProbeID_FK_id&errorClass=has-error">Msg to appear here</span></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row ">
                                            <div class="col-sm-4">Phase 1 Channel</div>
                                            <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_1" id="sourcechannel_1">channel 1</select></div>
                                        </div>
                                    </li>
                                    <!--<li class="list-group-item">-->
                                    <!--<div class="row ">-->
                                    <!--<div class="col-sm-4">Phase 2 Channel</div>-->
                                    <div class="col-sm-4"><select style="display:none;" class="form-control custom" name="sourcechannel_2" id="sourcechannel_2">channel</select></div>
                                    <!--</div>-->
                                    <!--</li>-->
                                    <!--<li class="list-group-item">-->
                                    <!--<div class="row ">-->
                                    <!--<div class="col-sm-4">Phase 3 Channel</div>-->
                                    <div class="col-sm-4"><select style="display:none;" class="form-control custom" name="sourcechannel_3" id="sourcechannel_3">channel</select></div>
                                    <!--</div>-->
                                    <!--</li>-->
                                </ul>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Capacity</div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row ">
                                            <div class="col-sm-4"><label>Apparent Power [kVa]</label></div>
                                            <div class="col-sm-8"><input class="form-control" title="Enter Generator Rating in kVa" id="rating" type="text"/></div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-sm-4"><label></label></div>
                                            <div class="col-sm-8"><span data-lift="Msg?id=Rating_id&errorClass=has-error">Msg to appear here</span></div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row ">
                                            <div class="col-sm-4"><label>Fuel Type</label></div>
                                            <div class="col-sm-3"><select id="fuelSelect" class="form-control" >fuel</select></div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-sm-4"><label></label></div>
                                            <div class="col-sm-4"><span data-lift="Msg?id=FuelID_FK_id&errorClass=has-error">Msg to appear here</span></div>
                                        </div>
                                        <br>

                                        <div class="row ">
                                            <div class="col-sm-4"><label>Fuel Store</label></div>
                                            <div class="col-sm-3"><input class="form-control" id="fuelstore" type="text"  title="Enter tank capacity in liters" /></div>
                                            <div class="col-sm-3"><button id="refillfuel" type="submit" class="btn btn-primary col-lg-12" disabled>Refill Tank</button></div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-sm-4"><label></label></div>
                                            <div class="col-sm-8"><span data-lift="Msg?id=FuelStore_id&errorClass=has-error">Msg to appear here</span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <!--      operating  window         -->
                            <div class="panel panel-default">
                                <div class="panel-heading">Operating Window</div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row ">
                                            <div class="col-sm-6">
                                                <label>From:</label>
                                                <div class="form-group" >
                                                    <div class="input-group date">
                                                        <input class="form-control" type="text" name="operatingWindowF" id="operatingWindowF"/>
                                                    <span class="input-group-addon">
                                                       <span class="glyphicon glyphicon-time" ></span>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <label>To:</label>
                                                <div class="form-group" >
                                                    <div class="input-group date" >
                                                        <input class="form-control" type="text" id="operatingWindowT"/>
                                                    <span class="input-group-addon">
                                                       <span class="glyphicon glyphicon-time" ></span>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <!--<h3 class="panel-title">-->
                                    Fuel Consumption Map
                                    <!--</h3>-->
                                </div>
                                <div class="panel-body">
                                    <div class="row ">
                                        <!--<div class="col-sm-4"><label></label></div>-->
                                        <div class="col-sm-3"><label>1/4 load</label></div>
                                        <div class="col-sm-3"><label>1/2 load</label></div>
                                        <div class="col-sm-3"><label>3/4 load</label></div>
                                        <div class="col-sm-3"><label>Full </label></div>
                                        <!--<input class="form-control" type="submit">-->

                                    </div>
                                    <div class="row border">
                                        <!--<div class="col-sm-4"><label></label></div>-->
                                        <div class="col-sm-3"><input class="form-control" id="quarter" type="text" title="Enter fuel consumption in liters" /></div>
                                        <div class="col-sm-3"><input class="form-control" id="half" type="text" title="Enter fuel consumption in liters" /></div>
                                        <div class="col-sm-3"><input class="form-control" id="threequarters" type="text" title="Enter fuel consumption in liters" /></div>
                                        <div class="col-sm-3"><input class="form-control" id="full" type="text" title="Enter fuel consumption in liters" /></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-1"></div>

                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <hr>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row">

                        <div class="col-sm-5"><label></label></div>
                        <div class="col-sm-3"><label></label>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-sm-4"><label></label></div>

                    </div>
                    <div class="row"><br/></div>
                </div>
                <script src="/js/exclusiveselect.min.js" data-lift="tail"></script>
                <script src="/js/powerSources.min.js" data-lift="tail"></script>
            </div>
        </div>
    <!--</div>-->
</div>
