<div data-lift="lift:surround?with=source-wrap;at=content">
    <!--<div data-lift="PowerSourceOps" >-->
    <script src="/classpath/jlift.js" data-lift="tail"></script>
    <script id="jsonScript" data-lift="tail"></script>
    <div data-lift="InverterOps.view?form=post">
        <span id="hidden"></span>
        <div class="row">
            <div class="panel panel-primary" uneditable>
                <div class="panel-heading" ><h5 class="panel-title" id="heading_action"></h5></div>
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <table class="table">
                            <tr>
                                <td><label>Name</label></td>
                                <td>
                                    <input class="form-control" id="sourcename" type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Signal Threshold</label></td>
                                <td>
                                    <input class="form-control" id="signalThreshold" type="text"/>
                                    <span data-lift="Msg?id=signalThreshold_id&errorClass=has-error">Msg to appear here</span>
                                </td>
                            </tr>
                        </table>
                        <hr>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <!--<h3 class="panel-title">-->
                                Channel Assignment
                                <!--</h3>-->
                            </div>
                            <ul class="list-group" id="chnnls">
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Config</label></div>
                                        <div class="col-sm-4"><select class="form-control custom" id="sourceconfig">config</select></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-4"><span data-lift="Msg?id=ConfigID_FK_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Probe(s)</label></div>
                                        <div class="col-sm-4"><select class="form-control custom" id="sourceprobes">probes</select></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-4"><span data-lift="Msg?id=ProbeID_FK_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row" >
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4 text-center"><b>Output</b></div>
                                        <div class="col-sm-4 text-center" ><b>Input</b></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4">Phase 1 Channel</div>
                                        <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_1out" id="sourcechannel_1out">channel</select></div>
                                        <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_1in" id="sourcechannel_1in">channel</select></div>
                                    </div>
                                </li>
                                <li class="list-group-item removech">
                                    <div class="row ">
                                        <div class="col-sm-4">Phase 2 Channel</div>
                                        <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_2out" id="sourcechannel_2out">channel</select></div>
                                        <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_2in" id="sourcechannel_2in">channel</select></div>
                                    </div>
                                </li>
                                <li class="list-group-item removech">
                                    <div class="row ">
                                        <div class="col-sm-4">Phase 3 Channel</div>
                                        <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_3out" id="sourcechannel_3out">channel</select></div>
                                        <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_3in" id="sourcechannel_3in">channel</select></div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Capacity</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Rating [kVa]</label></div>
                                        <div class="col-sm-4"><input class="form-control" title="Enter Inverter Rating in kVa" id="rating" type="text"/></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8"><span data-lift="Msg?id=Rating_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Efficiency</label></div>
                                        <div class="col-sm-4"><input class="form-control" id="efficiency" type="number"  title="Enter inverter efficiency in %" /></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8"><span data-lift="Msg?id=FuelStore_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Bulk Charging Current</label></div>
                                        <div class="col-sm-4"><input class="form-control" id="chargecurrent" type="number"  title="Enter charging current in Ampere" /></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8"><span data-lift="Msg?id=ChargeCurrent_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Cost</label></div>
                                        <div class="col-sm-4"><input class="form-control" id="cost" type="number"  title="Enter cost" /></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8"><span data-lift="Msg?id=Cost_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>


             <!--      operating  window         -->
                        <div class="panel panel-default">
                            <div class="panel-heading">Operating Window</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-6"><label>From:</label><input class="form-control" type="text" id="operatingWindowF"/></div>
                                        <div class="col-sm-6"><label>To:</label><input class="form-control" type="text" id="operatingWindowT"/></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Expected Run Time</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Run Time [Hours]</label></div>
                                        <div class="col-sm-5"><input class="form-control" title="Enter RunTime in Hours" id="runtime" type="number"/></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8"><span data-lift="Msg?id=Rating_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Storage</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Battery Capacity</label></div>
                                        <div class="col-sm-5"><input class="form-control" id="battcapacity" type="number"  title="Enter capacity of one battery in ampere hours" /></div>
                                        <div data-lift="hasRole?name=admin" ><button type="button" id="resetBttn">Reset</button></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8"><span data-lift="Msg?id=BatteryCapacity_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Battery Count</label></div>
                                        <div class="col-sm-5"><input class="form-control" id="battcount" type="number"  title="Enter number of batteries" /></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8"><span data-lift="Msg?id=BatteryCount_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Battery Voltage [V]</label></div>
                                        <div class="col-sm-5"><input class="form-control" id="battvoltage" type="number"  title="Enter battery voltage" /></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8"><span data-lift="Msg?id=BatteryVoltage_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Battery Bank Voltage [V]</label></div>
                                        <div class="col-sm-5"><input class="form-control" id="battbankvoltage" type="number"  title="Enter battery bank voltage" max="99999999" step="12" /></div>
                                    </div>
                                    <div class="row battBankErr"  hidden>
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8 text-danger"><span >must be multiple of Battery Voltage</span></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8"><span data-lift="Msg?id=BatteryBankVoltage_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Depth of Discharge</label></div>
                                        <div class="col-sm-5"><input class="form-control" id="dod" type="number"  title="Enter target depth of discharge in %" /></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-8"><span data-lift="Msg?id=DoD_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Battery Chemistry</label></div>
                                        <div class="col-sm-5"><select class="form-control custom" id="chemistry" title="select battery type">
                                            <option value="leadacid">Lead Acid Deep Cycle</option>
                                            <option value="leadacidgel">Lead Acid Gel</option>
                                            <option value="lion">Lithium Ion</option>
                                            <option value="lionfepo4">Lithium Iron Phosphate</option>
                                        </select></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-4"><span data-lift="Msg?id=Chemistry_FK_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Battery End Of Life</label></div>
                                        <div class="col-sm-5"><input class="form-control" id="battEndOfLife" type="number"  title="Enter battery End Of Life in %" /></div>
                                    </div>
                                </li>
                            </ul>


                            <!--   /// BatteryLife ///-->
                            <div style="">
                                <div class="panel panel-default" style="width:90%;margin-left:auto;margin-right:auto;margin-bottom:0px;">
                                    <div class="panel-heading">
                                        <!--<h3 class="panel-title">-->
                                        Battery life
                                        <!--</h3>-->
                                    </div>
                                    <div class="panel-body" >
                                                <span id="btLifeElements">
                                                    <div class="row ">
                                                        <!--<div class="col-sm-4"><label></label></div>-->
                                                        <div class="col-sm-3"><label>DoD (%)</label></div>
                                                        <div class="col-sm-3"><label>number 0f Cycles</label></div>
                                                        <div class="col-sm-3"><label>Battery Capacity (%)</label></div>
                                                        <div hidden class="col-sm-3"><label>Impact</label></div>
                                                        <!--<input class="form-control" type="submit">-->
                                                    </div>
                                                    <div class="row border">
                                                        <div class="col-sm-3"><input class="form-control" id="dod0" type="number" title="Enter depth of discharge %" /></div>
                                                        <div class="col-sm-3"><input class="form-control" id="cycle0" type="number" title="Enter number of cycles" /></div>
                                                        <div class="col-sm-3"><input class="form-control" id="bcap0" type="number" title="Enter battery capacity" /></div>
                                                        <div hidden class="col-sm-3"><input class="form-control" id="impact0" type="text" readonly /></div>
                                                    </div><br>
                                                    <div class="row border">
                                                        <div class="col-sm-3"><input class="form-control" id="dod1" type="number" title="Enter depth of discharge %" /></div>
                                                        <div class="col-sm-3"><input class="form-control" id="cycle1" type="number" title="Enter number of cycles" /></div>
                                                        <div class="col-sm-3"><input class="form-control" id="bcap1" type="number" title="Enter battery capacity" /></div>
                                                        <div hidden class="col-sm-3"><input class="form-control" id="impact1" type="text" readonly /></div>
                                                    </div><br>
                                                    <div class="row border">
                                                        <div class="col-sm-3"><input class="form-control" id="dod2" type="number" title="Enter depth of discharge %" /></div>
                                                        <div class="col-sm-3"><input class="form-control" id="cycle2" type="number" title="Enter number of cycles" /></div>
                                                        <div class="col-sm-3"><input class="form-control" id="bcap2" type="number" title="Enter battery capacity" /></div>
                                                        <div hidden class="col-sm-3"><input class="form-control" id="impact2" type="text" readonly /></div>
                                                    </div><br>
                                                     <div class="row border">
                                                         <div class="col-sm-3"><input class="form-control" id="dod3" type="number" title="Enter depth of discharge %" /></div>
                                                         <div class="col-sm-3"><input class="form-control" id="cycle3" type="number" title="Enter number of cycles" /></div>
                                                         <div class="col-sm-3"><input class="form-control" id="bcap3" type="number" title="Enter battery capacity" /></div>
                                                         <div hidden class="col-sm-3"><input class="form-control" id="impact3" type="text" readonly /></div>
                                                     </div><br>
                                                </span>
                                        <!--<div class="row" style="margin-left:auto;margin-right:auto;">-->
                                                <span hidden>
                                                    <button hidden id="moreBatteryLife" type="button" class="btn btn-primary" >more field</button> &nbsp;&nbsp;&nbsp;
                                                    <button hidden id="addBatteryLife" type="button" class="btn btn-primary" >Add</button>
                                                </span>
                                        <!--</div>-->
                                    </div>
                                </div>

                    </div>

                    <div class="col-sm-1"></div>

                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <hr>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">

                    <div class="col-sm-3"><label></label></div>
                    <div class="col-sm-3">
                        <button id="saveEdit" class="btn btn-primary">Save</button>
                    </div>
                    <div class="col-sm-3">
                        <a href="/system/source/listsource"><span class="btn btn-primary">Cancel</span></a>
                    </div>
                    <div class="col-sm-3"><label></label></div>

                </div>
                <div class="row"><br/></div>
                <!-- same across sources end-->

            </div>
            <script src="/js/exclusiveselect.min.js" data-lift="tail"></script>
            <script src="/js/powerSources.min.js" data-lift="tail"></script>
        </div>
    </div>
    <!--</div>-->
</div>