<div data-lift="lift:surround?with=source-wrap;at=content">
    <!--<div data-lift="PowerSourceOps" >-->
    <script src="/classpath/jlift.js" data-lift="tail"></script>
    <script id="jsonScript" data-lift="tail"></script>
    <div data-lift="GridOps.view?form=post">
        <span id="hidden"></span>
        <div class="row">
            <div class="panel panel-primary" uneditable>
                <div class="panel-heading" ><h5 class="panel-title" id="heading_action"></h5></div>
                <!-- same across sources start-->
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <table class="table">
                            <tr>
                                <td><label>Name</label></td>
                                <td>
                                    <input class="form-control" id="sourcename" type="text"/>
                                    <span data-lift="Msg?id=sourceName_id&errorClass=has-error">Msg to appear here</span>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Signal Threshold</label></td>
                                <td>
                                    <input class="form-control" id="signalThreshold" type="text"/>
                                    <span data-lift="Msg?id=signalThreshold_id&errorClass=has-error">Msg to appear here</span>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <!--<h3 class="panel-title">-->
                                Channel Assignment
                                <!--</h3>-->
                            </div>
                            <ul class="list-group" id="chnnls">
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Config</label></div>
                                        <div class="col-sm-4"><select class="form-control custom" id="sourceconfig">config</select></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-4"><span data-lift="Msg?id=ConfigID_FK_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4"><label>Probe(s)</label></div>
                                        <div class="col-sm-4"><select class="form-control custom" id="sourceprobes">probes</select></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-4"><label></label></div>
                                        <div class="col-sm-4"><span data-lift="Msg?id=ProbeID_FK_id&errorClass=has-error">Msg to appear here</span></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row ">
                                        <div class="col-sm-4">Phase 1 Channel</div>
                                        <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_1" id="sourcechannel_1">channel</select></div>
                                    </div>
                                </li>
                                <li class="list-group-item removech">
                                    <div class="row ">
                                        <div class="col-sm-4">Phase 2 Channel</div>
                                        <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_2" id="sourcechannel_2">channel</select></div>
                                    </div>
                                </li>
                                <li class="list-group-item removech">
                                    <div class="row ">
                                        <div class="col-sm-4">Phase 3 Channel</div>
                                        <div class="col-sm-4"><select class="form-control custom" name="sourcechannel_3" id="sourcechannel_3">channel</select></div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!-- same across sources end-->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <!--<h3 class="panel-title">-->
                                Utility Charge Map
                                <!--</h3>-->
                            </div>
                            <div class="panel-body">
                                <div class="row ">
                                    <!--<div class="col-sm-4"><label></label></div>-->
                                    <div class="col-sm-3"><label>00:00 to 06:00</label></div>
                                    <div class="col-sm-3"><label>06:00 to 12:00</label></div>
                                    <div class="col-sm-3"><label>12:00 to 18:00</label></div>
                                    <div class="col-sm-3"><label>18:00 to 00:00</label></div>
                                    <!--<input class="form-control" type="submit">-->

                                </div>
                                <div class="row border">
                                    <!--<div class="col-sm-4"><label></label></div>-->
                                    <div class="col-sm-3"><input class="form-control" id="night" type="number" title="Enter utility charge in ₦/kWh" /></div>
                                    <div class="col-sm-3"><input class="form-control" id="morning" type="number" title="Enter utility charge in ₦/kWh" /></div>
                                    <div class="col-sm-3"><input class="form-control" id="afternoon" type="number" title="Enter utility charge in ₦/kWh" /></div>
                                    <div class="col-sm-3"><input class="form-control" id="evening" type="number" title="Enter utility charge in ₦/kWh" /></div>
                                </div>
                            </div>
                        </div>

                        <!-- same across sources start-->
                    </div>

                        <div class="col-sm-1"></div>

                    </div>

                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <hr>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row">

                        <div class="col-sm-3"><label></label></div>
                        <div class="col-sm-3">
                            <button id="saveEdit" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-sm-3">
                            <a href="/system/source/listsource"><span class="btn btn-primary">Cancel</span></a>
                        </div>
                        <div class="col-sm-3"><label></label></div>

                    </div>
                    <div class="row"><br/></div>
                <!-- same across sources end-->

                </div>
                <script src="/js/exclusiveselect.min.js" data-lift="tail"></script>
                <script src="/js/powerSources.min.js" data-lift="tail"></script>
            </div>
        </div>
        <!--</div>-->
    </div>