<div data-lift="surround?with=source-wrap;at=content">
 <h2 class="alt">Edit Source</h2>
	<div data-lift="PowerSourceOps.edit?form=post">
	 <span id="hidden"></span>
        <div class="row editLabels">
            <div class="row"><label class="col-sm-4">Source Name</label><input class="col-sm-4" id="sourcename" type="text" /></div>
            <input id="submit" type="submit" value="Save"/> <br /> <br />
        </div>


	</div>
</div>