<div data-lift="surround?with=source-wrap;at=content">
	<div data-lift="PowerSourceOps.list">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5 id="heading_user" class="Power Sources">Power Sources</h5>
			</div>
			<!--<div class="panel-body">-->
				<!--<a href="/system/source/createsource"><button type="button" class="btn btn-primary " >New Source</button></a> <br /> <br />-->
			<!--</div>-->
			<table class="table">
				<thead>
					<tr class="rows">
						<th>Name</th>
						<th>Type</th>
						<th>Phases</th>
						<th>Action </th>
					</tr>
				</thead>
				<tbody id="sourcelist">
					<tr class="rows">
						<td class="sourceName">Dummy Name</td>
						<td class="sourceType"></td>
						<td class="phaseCount"></td>
						<td class="actions">Actions</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
</div>