<div data-lift="surround?with=source-wrap;at=content">
    <div class="panel panel-default">
        <div class="panel-heading">Select Power Source Type</div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row" id="3phaseRow">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3"><a href="/system/source/createsource"><button type="button" class="btn btn-primary col-lg-9" >3 Phase GRID</button></a></div>
                    <div class="col-sm-3"><a href="/system/source/createsource"><button type="button" class="btn btn-primary col-lg-9" >3 Phase Generator</button></a></div>
                    <div class="col-sm-3"><a href="/system/source/createsource"><button type="button" class="btn btn-primary col-lg-9" >3 Phase Inverter</button></a></div>
                    <div class="col-sm-1"></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row" id="1phaseRow">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3"><a href="/system/source/createsource"><button type="button" class="btn btn-primary col-lg-9">Single Phase GRID</button></a></div>
                    <div class="col-sm-3"><a href="/system/source/createsource"><button type="button" class="btn btn-primary col-lg-9" >Single Phase Generator</button></a></div>
                    <div class="col-sm-3"><a href="/system/source/createsource"><button type="button" class="btn btn-primary col-lg-9" >Single Phase Inverter</button></a></div>
                    <div class="col-sm-1"></div>
                </div>
            </li>
        </ul>
    </div>
</div>