<div data-lift="surround?with=source-wrap;at=content">
  <h2 class="alt">View Source</h2>
	<div data-lift="PowerSourceOps.view">
	   <table>
        <tr><td>Source Name</td><td id="sourcename">Dummy Name</td></tr>
     </table>
     <a id="edit" href=#>Edit</a>
     <br /> <br />
	</div>
</div>