table {
    border: 1px solid grey;
    width: 80%;
    margin: 10px auto;
}

table td {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

table thead {
    background: #52f232;
}

table thead {
}

table tbody td {
    height: 2em;

}
