<div data-lift="surround?with=device-wrap;at=content">
    <div data-lift="ProductOps.create?form=post">
        <span id="hidden"></span>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create Product</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Name </div>
                                    <div class="col-sm-6"><input class="form-control" id="name" type="text"/>
                                        <span data-lift="Msg?id=probeName_id&errorClass=has-error">Msg to appear here</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Price</div>
                                    <div class="col-sm-6"><input class="form-control" id="price" type="text" /></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-primary" id="submit" type="submit">Save</button>
            </div>
        </div>
    </div>
</div>