<div data-lift="surround?with=base-wrap;at=content">
    <span data-lift="CurrentUser.title"></span>
    <div class="main-content">
        <div class="page-header">
            <span lift="CurrentUser.header"></span>
            <div id="ajax-spinner" class="pull-right" style="display: none;">
                <img src="/img/spinner.gif" width="16" height="16"/>
            </div>
        </div>
        <div class="row">
            <span data-lift="embed?what=/templates-hidden/parts/settingsMenu"></span>
            <div class="systems-secondary">
                <div data-lift="embed?what=/templates-hidden/embed/selectuser"></div>

                <ul data-lift="Menus.group?group=products" class="nav nav-pills"></ul>
            </div>
            <div class="settings-main">
                <div data-lift="Notices"></div>
                <div id="content">
                    <div data-lift="CommDeviceOps.edit?form=post">
                        <span id="hidden"></span>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h5 class="panel-title" id="heading_action"></h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="row ">
                                                    <div class="col-sm-6">Name </div>
                                                    <div class="col-sm-6"><input class="form-control" id="name" type="text" disabled/></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row ">
                                                    <div class="col-sm-6">Wifi Network Name</div>
                                                    <div class="col-sm-6"><input class="form-control" id="ssid" type="text" /></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row ">
                                                    <div class="col-sm-6">Wifi Password</div>
                                                    <div class="col-sm-6"><input class="form-control" id="password" type="password" /></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">Meter Configs</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <!--<div class="col-md-1 col-sm-12 col-xs-12 "><em>#</em></div>-->
                                            <div class="col-md-4 col-sm-12 col-xs-12"><em>IP Address</em></div>
                                            <div class="col-md-2 col-sm-12 col-xs-12"><em>Port</em></div>
                                        </div>
                                    </div>

                                    <!-- List group -->
                                    <ul class="list-group" id="meterConfigs">
                                        <li class="list-group-item" id="lines">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12 col-xs-12">
                                                    <input class="form-control ip"/>
                                                </div>
                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <input class="form-control port" type="number"/>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <button type="button" id="addField" style="margin-top:1em;margin-bottom:1em" class="btn btn-info center-block">Add Meter Config</button>
                                </div>
                                <button class="btn btn-primary" id="submit" type="submit">Save Probe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var index = 1
                document.getElementById("addField").addEventListener("click", function () {
                    index = index+1
                    var list = document.createElement("li")
                    list.className += "list-group-item"
                    list.setAttribute('id', index);
                    var row = document.createElement("div");
                    row.className += " row";

                    var ipDiv = document.createElement("div");
                    ipDiv.className += "col-md-4 col-sm-12 col-xs-12"
                    var ipInput = document.createElement("input");
                    ipInput.className += " form-control ip";
                    ipInput.setAttribute("name", "ip");
                    ipInput.setAttribute("required", "required");
                    var portDiv = document.createElement("div");
                    portDiv.className += "col-md-2 col-sm-12 col-xs-12"
                    var portInput = document.createElement("input");
                    portInput.className += " form-control port";
                    portInput.setAttribute("type", "number");
                    portInput.setAttribute("name", "port");
                    portInput.setAttribute("required", "required");
                    var removeDiv = document.createElement("div");
                    removeDiv.className += "col-md-1 col-sm-12 col-xs-12"
                    removeButton = document.createElement("button");
                    removeButton.className += "btn btn-danger center-block btn-xs remove"
                    removeButton.innerHTML =  '<i class="fa fa-times" aria-hidden="true"></i>'
                    removeButton.setAttribute("type", "button");
                    removeButton.setAttribute("onClick", 'removeList('+index+')');


                    portDiv.appendChild(portInput);
                    ipDiv.appendChild(ipInput);
                    removeDiv.appendChild(removeButton);

                    row.appendChild(ipDiv);
                    row.appendChild(portDiv);
                    row.appendChild(removeDiv);
                    list.appendChild(row)
                    document.getElementById("meterConfigs").appendChild(list);
                })

                var removeList = function(id) {
                    var list_ = document.getElementById(id)
                    console.log(list_)
                    list_.parentNode.removeChild(list_)
                };
            </script>
        </div>
    </div>
</div>





