<div data-lift="surround?with=device-wrap;at=content">
    <div data-lift="DeviceOps.edit?form=post">
        <span id="hidden"></span>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Name </div>
                                    <div class="col-sm-6"><input class="form-control" id="name" type="text"/>
                                        <span data-lift="Msg?id=probeName_id&errorClass=has-error">Msg to appear here</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Number of Channels</div>
                                    <div class="col-sm-6"><input class="form-control custom" type="number"  id="NumberOfChannels"></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Price</div>
                                    <div class="col-sm-6"><input class="form-control" id="price" type="text" /></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Features</div>
                                    <div class="col-sm-6">
                                        <div  id="featureFields">
                                            <div id="inputFields"  style="margin-top:1em">
                                                <input class="form-control features" name="features" type="text"/>
                                            </div>
                                        </div>
                                        <button type="button" id="addField" style="margin-top:1em" class="btn btn-info center-block">Add Feature</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-primary" id="submit" type="submit">Save</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("addField").addEventListener("click", function () {
            var field = document.createElement("input");
            field.className += " form-control features";
            field.style.marginTop = "1em";
            field.name = 'features';
            document.getElementById("featureFields").appendChild(field);
        })
    </script>
</div>
