<div data-lift="surround?with=usergroup-wrap;at=content">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h5>Create New User Group</h5>
		</div>
		<div data-lift="UserGroupOps.create?form=post">
			<div class="msgs"></div>
			<script>
				function addError(msg) {
					$(".msgs").append("<div class=\"alert alert-danger\" role=\"alert\">"+msg+"</div>")
					 setTimeout(function(){ $(".alert").alert('close'); }, 3000);
				}
			</script>
			<span id="hidden"></span>
			<div class="row">
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<table class="table">
							<tr>
								<td><label>Group Name</label></td>
								<td>
									<input class="form-control" id="groupName" type="text"/>
									<span data-lift="Msg?id=groupName_id&errorClass=has-error">Msg to appear here</span>
								</td>
							</tr>
							<tr>
								<td><label>Group Admin</label></td>
								<td>
									<select class="form-control custom" id="adminID_FK"></select>
									<span data-lift="Msg?id=adminID_FK_id&errorClass=has-error">Msg to appear here</span>
								</td>
							</tr>
							<tr>
								<td><label>Profit Margin</label></td>
								<td>
									<input class="form-control" id="margin" type="number"/>
									<span data-lift="Msg?id=margin_id&errorClass=has-error">Msg to appear here</span>
								</td>
							</tr>
							<tr>
								<td><label>White labelling</label></td>
								<td>
									<input class="form-control" id="whiteLabel" type="number"/>
									<span data-lift="Msg?id=margin_id&errorClass=has-error">Msg to appear here</span>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>All Users</td>
								<td></td>
								<td>Group Members</td>
							</tr>
							<tr>
								<td></td>
								<td><select id="allusers" class="form-control">channels</select></td>
								<td>
									<button id="addusers" class="btn btn-primary" title="add users"       >>></button><br/>
									<button id="rm_users" class="btn btn-primary" title="remove users"    ><<</button>
								</td>
								<td><select id="groupmembers" class="form-control">channels</select></td>
							</tr>
						</table>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5"></div>
					<div class="col-sm-3">
						<button class="btn btn-primary" id="submit" type="submit">Create User Group</button>
					</div>
				</div>
				<br/>
			</div>
		</div>
	</div>
</div>
