<div data-lift="lift:surround?with=usergroup-wrap;at=content">
    <div class="panel panel-primary">
        <div class="panel-heading">Delete User Group</div>
        <div data-lift="UserOps.deleterole">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="alt">Are you sure you want to delete Role : <span id="roleName"></span>?</h5>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <a id="yes" class="btn btn-primary" href=#>Yes</a>

                        </div>
                        <div class="col-sm-3">
                            <a id="no" class="btn btn-primary" href=#>No</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>