<div data-lift="surround?with=usergroup-wrap;at=content">
    <div data-lift="DomainOps.edit?form=post">
        <span id="hidden"></span>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Name </div>
                                    <div class="col-sm-6"><input class="form-control" id="name" type="text"/>
                                        <span data-lift="Msg?id=probeName_id&errorClass=has-error">Msg to appear here</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Subdomain</div>
                                    <div class="col-sm-6"><input class="form-control custom" type="text"  id="subdomain"></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Admin</div>
                                    <div class="col-sm-6"><input class="form-control custom" type="text"  id="admin"></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Image URL</div>
                                    <div class="col-sm-6"><input class="form-control" id="imageURL" type="text" /></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Favicon URL</div>
                                    <div class="col-sm-6"><input class="form-control" id="faviconURL" type="text" /></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Page URL</div>
                                    <div class="col-sm-6"><input class="form-control" id="pageURL" type="text" /></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">Host Name</div>
                                    <div class="col-sm-6"><input class="form-control" id="hostname" type="text" /></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-primary" id="submit" type="submit">Save</button>
            </div>
        </div>
    </div>
</div>