<div data-lift="lift:surround?with=usergroup-wrap;at=content">
	<!--<h2 class="alt">New Probe</h2>-->
	<div data-lift="UserOps.edituser?form=post">
		<span id="hidden"></span>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">User</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">Names</div>
									<div class="col-sm-6"><input class="form-control" id="name" type="text"/>
										<span data-lift="Msg?id=name&errorClass=has-error">Msg to appear here</span>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">username</div>
									<span class="col-sm-6"><input class="form-control" id="username" type="text"/>
										<span class="alert-warning" id="usernameE" hidden disabled></span>
									</span>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">email</div>
									<div class="col-sm-6"><input class="form-control" id="useremail" type="email"  />
                                        <span class="alert-warning" id="useremailE" hidden disabled></span>
									</div>
								</div>
							</li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">phone</div>
                                    <div class="col-sm-6"><input class="form-control" id="userphone" type="tel"  />
                                        <span class="alert-warning" id="userphoneE" hidden disabled></span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">location</div>
									<span class="col-sm-6"><input class="form-control" id="userlocation" type="text"/>
										<span data-lift="Msg?id=userlocation&errorClass=has-error">Msg to appear here</span>
									</span>
                                </div>
                            </li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">bio</div>
									<div class="col-sm-6"><textarea class="form-control" id="userbio"> </textarea></div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">timewindow</div>
									<div class="col-sm-6"><input class="form-control" id="timewindow" type="text" />
                                        <span class="alert-warning" id="timewindowE" hidden disabled></span>
                                    </div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">locale</div>
                                    <div class="col-sm-6"><select class="form-control custom"  id="userlocale">locale</select></div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">timezone</div>
                                    <div class="col-sm-6"><select class="form-control custom"  id="usertimezone">locale</select></div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">verified</div>
									<div class="col-sm-6"><input class="form-control"  id="userverified" type="checkbox" value="true"></div>
								</div>
							</li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">roles</div>
                                    <div class="col-sm-6">
                                        <table>
                                            <tr>
												<td >
                                                    <span id="userroles" class="row"> <input class="form-control userrole" type="text"/> </span>
                                                    <a href="#" id="addR">+</a>
                                                 </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row ">
                                    <div class="col-sm-6">permissions</div>
                                    <div class="col-sm-6">
                                        <table>
                                            <tr>
												<td >
                                                    <span id="userpermissions" class="row"> <input class="form-control userpermission" type="text"/></span>
                                                    <a href="#" id="addP">+</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
						</ul>
					</div>
				</div>
				<hr>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary" id="submit" type="submit">Save</button>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                        <a href="/system/usergroup/listusers" class="btn btn-primary" >Back</a>
                    </div>
                </div>
			</div>
		</div>



	</div>
    <script>
    var error = {};

       //catch submission and check error state
       $("#submit").click(function(e){
         if(Object.keys(error).length > 0){ //do not submit if error exists
            e.preventDefault();
         }
       });

       //adds a new role field
        $( "#addR" ).click(function( event ) {
          event.preventDefault();
          $('<span>',{class : "row" }).append($('<input >',{type:"text", name:"role", class:"form-control"})).insertBefore($("#addR"));
        });

        //adds a new permission field
        $( "#addP" ).click(function( event ) {
          event.preventDefault();
          $('<span>',{class : "row" }).append($('<input >',{type:"text", name:"permission", class:"form-control"})).insertBefore($("#addP"));
        });

        //validate username
        $("#username").change(function(){
           if($("#username").val().length < 3){
           $("#usernameE").html("Username can not be less than 3 characters").show();
           error.username = true;
           }else{
            $("#usernameE").hide();
            delete error.username;
            }
        });

        //validate email
        $("#useremail").change(function(e){
            if($("#useremail").val() == ""){
                $("#useremailE").html("email field required").show();
            }else if(!new RegExp("^[a-z0-9._%\\-+]+@(?:[a-z0-9\\-]+\\.)+[a-z]{2,9}").test($("#useremail").val())){
                    $("#useremailE").html("invalid email").show();
                    error.useremail = true;
            }else{
               $("#useremailE").hide();
               delete error.useremail;
            }
        });

         //validating phone
        $("#userphone").change(function(){
           if(! new RegExp("^[0-9]+$").test($("#userphone").val())){
               $("#userphoneE").html("invalid phone number").show();
               error.userphone = true;
           }else{
                $("#userphoneE").hide();
                delete error.userphone;
           }
        });

        //validate time window, must be of format x:x
        $("#timewindow").change(function(){
            if(! new RegExp("^\\w*:\\w*|\\w*:$|:\\w*").test($(this).val())){
                $("#timewindowE").html("invalid. format is xx:xx").show();
                error.timewindow = true;
            }else{
               $("#timewindowE").hide();
               delete error.timewindow;
            }
        });


   </script>
</div>