<div data-lift="surround?with=usergroup-wrap;at=content">
    <div data-lift="UserOps.editrole?form=post">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title" id="heading_action"> Role</h5>
            </div>
            <div class="msgs"></div>
            <script>
                function addPm(){
                   $("#rolePermissions").append($('<span>',{class : "row" }).append($('<input >',{type:"text", name:"permission", class:"form-control permission"})));
                }

				function addError(msg) {
					$(".msgs").append("<div class=\"alert alert-danger\" role=\"alert\">"+msg+"</div>")
					 setTimeout(function(){ $(".alert").alert('close'); }, 3000);
				}
			</script>
            <span id="hidden"></span>
            <div class="row">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Role Name</th>
                                <th>Permissions</th>
                            </tr>
                            </thead>
                            <tr>
                                <td><label class="form-control" id="roleName">Name</label></td>
                                <td>
                                    <span id="rolePermissions" class="row">
                                        <input class="form-control permission" type="text"/>
                                        <span data-lift="Msg?id=username_id&errorClass=has-error">Msg to appear here</span>
                                    </span>
                                    <span class="btn btn-info" id="addPm" onclick="addPm()" >add pm</span>
                                </td>
                            </tr>
                        </table>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary" id="submit" type="submit">Save</button>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                        <a href="/system/usergroup/listusers" class="btn btn-primary" >Back</a>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>
