
<div data-lift="surround?with=base-wrap;at=content">
    <span data-lift="CurrentUser.title"></span>
    <div class="main-content">

        <div class="page-header">
            <span lift="CurrentUser.header"></span>
            <div id="ajax-spinner" class="pull-right" style="display: none;">
                <img src="/img/spinner.gif" width="16" height="16"/>
            </div>
        </div>
        <span data-lift="embed?what=/templates-hidden/parts/settingsMenu"></span>
        <div class="row">
            <div class="systems-secondary">


                <div data-lift="embed?what=/templates-hidden/embed/selectuser"></div>

                <ul data-lift="Menus.group?group=usergroup" class="nav nav-pills"></ul>
            </div>
            <div class="settings-main">
                <div data-lift="Notices"></div>
                <div id="content">
                    <div data-lift="UserOps.list">
                        <div class="panel panel-default" data-lift="hasRole?name=admin">
                            <div class="panel-heading">
                                <h5 class=""><b>Roles</b></h5>
                            </div>
                            <div class="panel-body">
                                <a href="/system/usergroup/createrole"><button type="button" class="btn btn-primary " >Create New Role</button></a> <br /> <br />
                            </div>
                            <div  class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Permissions</th>
                                        <th>Assigned to</th>
                                        <th>Action </th>
                                    </tr>
                                    </thead>
                                    <tbody id="rolelist">
                                    <tr class="rows">
                                        <td class="roleName"></td>
                                        <td class="Permissions"></td>
                                        <td class="assignees"></td>
                                        <td class="actions"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="" id="heading_user"><b>Users associated with : </b></h5>
                            </div>
                            <div class="panel-body">
                                <a href="/register"><button type="button" class="btn btn-primary " >Create New User</button></a> <br /> <br />
                            </div>
                            <div  class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <!--<th>City</th>-->
                                        <!--<th>Locale</th>-->
                                        <!--<th>TimeZone</th>-->
                                        <!--<th>Send Invoice</th>-->
                                        <!--<th>Roles</th>-->
                                        <th>Profile Update</th>
                                        <!--<th>Stage</th>-->
                                        <!--<th>Payment Status</th>-->
                                        <!--<th>Permissions</th>-->
                                        <!--<th>Permissions Inferred via Role</th>-->
                                        <th>Belongs to Group(s)</th>
                                        <!--<th>Action </th>-->
                                    </tr>
                                    </thead>
                                    <tbody id="userlist">
                                    <tr class="rows">
                                        <td class="userName"></td>
                                        <td class="userEmail"></td>
                                        <td class="country"></td>
                                        <td class="state"></td>
                                        <!--<td class="city"></td>-->
                                        <!--<td class="userLocale"></td>-->
                                        <!--<td class="timeZone"></td>-->
                                        <!--<td class="sendInvoice"></td>-->
                                        <!--<td class="Roles"></td>-->
                                        <td class="profileMail"></td>
                                        <!--<td>
                                            <span class="stage badge"></span>
                                        </td>-->
                                        <!--<td class="payStatus"></td>-->
                                        <!--<td class="Permissions"></td>-->
                                        <!--<td class="RolePermissions"></td>-->
                                        <td class="groups"></td>
                                        <!--<td class="actions"></td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default" data-lift="hasRole?name=admin">
                            <div class="panel-heading">
                                <h5 class=""><b>Users</b></h5>
                            </div>
                            <div class="panel-body">
                                <a href="/register"><button type="button" class="btn btn-primary " >Create New User</button></a> <br /> <br />
                            </div>
                            <div  class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <!--<th>City</th>-->
                                        <!--<th>Locale</th>-->
                                        <!--<th>TimeZone</th>-->
                                        <th>Send Invoice</th>
                                        <th>Roles</th>
                                        <th>Profile Update</th>
                                        <th>Stage</th>
                                        <th>Payment Status</th>
                                        <!--<th>Permissions</th>-->
                                        <!--<th>Permissions Inferred via Role</th>-->
                                        <th>Belongs to Group(s)</th>
                                        <th>Action </th>
                                    </tr>
                                    </thead>
                                    <tbody id="userlistAdmin">
                                    <tr class="rows">
                                        <td class="userName"></td>
                                        <td class="userEmail"></td>
                                        <td class="country"></td>
                                        <td class="state"></td>
                                        <!--<td class="city"></td>-->
                                        <!--<td class="userLocale"></td>-->
                                        <!--<td class="timeZone"></td>-->
                                        <td class="sendInvoice"></td>
                                        <td class="Roles"></td>
                                        <td class="profileMail"></td>
                                        <td>
                                            <span class="stage badge"></span>
                                        </td>
                                        <td class="payStatus"></td>
                                        <!--<td class="Permissions"></td>-->
                                        <!--<td class="RolePermissions"></td>-->
                                        <td class="groups"></td>
                                        <td class="actions"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


