<div data-lift="surround?with=usergroup-wrap;at=content">
	<!--<h2 class="alt">Sources</h2>-->
	<style>
		li {list-style-type :none}
		#lift__noticesContainer___notice {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: #dff0d8;
		border-color: #d6e9c6;
		color: #3c763d;

		}

		#lift__noticesContainer___warning {
		background-color: yellow;
		}

		#lift__noticesContainer___error {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: #f2dede;
		border-color: #ebccd1;
		color: #a94442;
		}

		input[type='checkbox'] {
		width:20px;
		height:20px;
		border-radius:2px;
		border:1px solid ;
		}
		input[type='checkbox']:checked {
		background: #abd;
		}
	</style>
		<div data-lift="UserGroupOps.list">
			<lift:Msgs>
				<lift:error_msg></lift:error_msg>
				<lift:error_class></lift:error_class>
				<lift:notice_msg></lift:notice_msg>
			</lift:Msgs>
			<div data-lift="Notices"></div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h5 class="">User Groups</h5>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Admin</th>
							<th>Members</th>
							<th>Margin</th>
							<th>Action </th>
						</tr>
					</thead>
					<tbody id="grouplist">
						<tr class="rows">
							<td class="groupName"></td>
							<td class="groupAdmin"></td>
							<td class="groupMembers"></td>
							<td class="groupMargin"></td>
							<td class="actions"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>