<div data-lift="surround?with=usergroup-wrap;at=content">
    <div data-lift="DomainOps.list">
        <div class="row" style="margin-top:1em">
            <form method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5 class="alt" >Domains</h5>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Domain Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="domainList">
                        <tr class="rows">
                            <td >
                                <span class="name" style="display: inline-block;">Dummy Name</span>
                            </td>
                            <td class="actions">Actions</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </form>
        </div>
    </div>
</div>