// Override some defaults
.axis path, .axis line {
	fill: none;
	/*stroke: #000;*/
	stroke: #555555;
	shape-rendering: crispEdges;
}

.calendar .date-picker {
	width: 100%;
}

.legend rect {
	fill:white;
	stroke:black;
	opacity:0.8;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.1;
}

.grid path {
	stroke-width: 0;
}

.line {
	fill: none;
	stroke: grey;
	stroke-width: 1px;
	clip-path: url(#clip);
}

.area {
	fill: blue;
	opacity:0.3;
	clip-path: url(#clip);
}

.lineinv {
	fill: none;
	stroke: none;/*navy;*/
	stroke-width: 1px;
	clip-path: url(#clip);
}

.areainv {
	fill: lightsteelblue;
	opacity:0.5;
	clip-path: url(#clip);
}

.linegrd {
	fill: none;
	stroke: none;/*darkgreen;*/
	stroke-width: 1px;
    clip-path: url(#clip);
}

.areagrd {
	fill: MediumSpringGreen;
	opacity:0.5;
	clip-path: url(#clip);
}

.linegen {
	fill: none;
	stroke: none;/*red;*/
	stroke-width: 1px;
	clip-path: url(#clip);
}

.areagen {
	fill: darkorange;
	opacity:0.5;
	clip-path: url(#clip);

}

svg {
	font: 10px sans-serif;
	/*stroke: #ffffff;*/
}
.axislabel{
	fill:#ffffff;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.1;
}

.grid path {
	stroke-width: 0;
}
.axis path, .axis line {
	fill: none;
	/*stroke: #1f1f1f;*/
	stroke: #555555;
	shape-rendering: crispEdges;
}
.col:not(:first-child),.col:not(:last-child) {
  padding-right:7px;
  padding-left:7px;
}
.dashboard-box {
    background-color: #fff;
/*    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
    margin-bottom: 30px;
}


table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid lightgrey;
  text-align: center;

}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
#tabletabs {
    padding-left:0;
    padding-right:0;
}



.graphpanel {
	font-family: Verdana, sans-serif;
	font-size: 18pt;
	line-height: 12pt;
	background: #8C8989;
	color: #ffffff;
	padding:10px;
	border: solid black 1px;
}
.graph {
	font-family: Verdana, sans-serif;
	font-size: 18pt;
	line-height: 12pt;
	background: #282E3E;
	color: #ffffff;
}
.tick{
	fill:#ffffff;
}
body{

  font-size: 16px;
  font-family: arial, helvetica, sans-serif;
}

@media (min-width: 768px){
#layout-wrapper,
#main-header,
#layout-wrapper > .layout-row{
  display: block;
  width: 100%;
}
}

@media (max-width: 768px){
  #layout-wrapper,
#main-header,
#layout-wrapper > .layout-row{
  display: table;
  width: 100%;
}
}

#main-header{
  margin-top: 1em;
  background-color: white;
  line-height: 2.5em;
  padding: 0 10%;
  overflow: hidden;
  box-sizing: border-box;
}

  img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

 .logo-block{
    width: 250px;
    float: left;
    margin-left: 0;
  }
.logo-block > a {
      height: 1.5em;
      margin-top: 0em;
      margin-left: 0em;
    }
.logo-block > a > img {
      height: 1.5em;
      margin-top: 0.7em;
      margin-left: 2.0em;
    }
.menu{

    float: right;
    overflow: hidden;
  }

.menu-item{

      float: left;
      margin-right: 2.5em;
      color: #aaa;
    }

#user img {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  margin-right: 6px;
  border: none;
  cursor: pointer;
}

#user-header {
  line-height: 4em;

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    border: none;
    cursor: pointer;
  }

  h3, .innerContainer{
    display: inline-block;
  }
}

// fixes gap between navbar and section below it
// @media (max-width: @navbarCollapseWidth) {
//   .navbar-fixed-top {
//     margin-bottom: 0px;
//   }
// }


// grid styles for settings-wrap
.settings-main {
  .make-lg-column(10);
  padding-bottom:20px;
}
.settings-secondary {
  .make-lg-column(2);
  .make-lg-column-offset(0);
   padding-left: 0 !important;
   margin-left: 0 !important;

}

// grid styles for system probe source config-wrap
.systems-main {
  .make-lg-column(9);
  padding-bottom:20px;
}

.systems-secondary {
  .make-lg-column(2);
  .make-lg-column-offset(1);
   padding-left: 0 !important;
   margin-left: 0 !important;
}

.btn {
  white-space: normal !important;
}

.has-error {
    color: red !important;
}

.editLabels{
   .make-sm-column(9);
}
.tab-content-border {
      //border-bottom: 2px solid #337ab7;
      border: 2px solid #337ab7;
      border-radius: 5px;
    }
.call-to-action{

      margin-top: .25em;
      line-height: 2em;
      border-radius: 1em;

      padding: 0 1.25em;
      color: #fff;
      background-color: #3bb976;
    }
.row-full {
   margin-left: 0px;
   margin-right: 0px;
}

.layout-row,
.layout-row.split-row > .split {

      min-height: 40em;



}

  .layout-row.overlay{

    box-sizing: border-box;
    background-color: #282e3e;
    position: relative;
    padding: 2em 10%;

    overflow: hidden;
  }

    .layout-row.overlay > .text-overlay {

      margin-left: 60%;
      margin-top: 1em;
      width: 40%;
    }

      .layout-row.overlay > .text-overlay > .title {

        font-size: 3em;
        color: #fff;
        margin-bottom: .33em;
        font-weight: 900;
        letter-spacing: -4px;
      }

      .layout-row.overlay > .text-overlay > .title-underline {

        height: .45em;
        width: 4.5em;
        background-color: #3bb976;
        margin-bottom: 2em;
      }

      .layout-row.overlay > .text-overlay > .content {

        font-size: 1.5em;
        line-height: 1.5em;
        letter-spacing: -1px;
        color: #aaa;
      }

      .layout-row.overlay > .text-overlay > .content > .emphasis{

        font-weight: 900;
        color: #3bb976;
      }

  .layout-row.callout{

    box-sizing: border-box;
    padding: 5em 20%;
  }

    .layout-row.callout > .title{

      margin-bottom: 2.5em;
      text-align: center;

      text-transform: uppercase;
      font-weight: 900;
      color: #222;
    }

    .layout-row.callout > .content{

      font-size: 1.75em;
      line-height: 1.5em;
      color: #777;

      text-align: center;
    }

      .layout-row.callout > .content > .italics{

        font-style: italic;
        font-size: 85%;
      }

      .layout-row.callout > .content > .emphasis{

        font-weight: 900;
        color: #282e3e;
      }

  .layout-row.split-row{

    background-color: #222;
    overflow: hidden;
  }

    .layout-row.split-row > .split{

      width: 50%;
      float: left;
      position: relative;
      box-sizing: border-box;
    }

      .layout-row.split-row > .split:nth-child(1){

        background-color: #222;
      }

      .layout-row.split-row > .split:nth-child(2){

        background-color: #373838;
      }

      .layout-row.split-row > .split > .content {

        padding: 0 10%;
        margin-top: 4em;
        margin-bottom: 1.5em;
        font-size: 2em;
        color: #fff;
      }

      .layout-row.split-row > .split > .call-to-action {

        box-sizing: border-box;
        position: absolute;
        margin-left: -4em;
        left: 50%;

        border-radius: 1.5em;
        line-height: 3em;
        padding: 0 2em;
        width: 8em;

        color: #fff;
        text-align: center;
        border: 1px solid #fff;
      }


  @media (max-width: 959px) {
    .layout-row, .layout-row.split-row > .split {
      min-height: 32.5em;
      }
  }

  @media (max-width: 959px) {
      .layout-row.split-row > .split {
          width: 100%;
      }
  }

#product-summary{

  background-image: url('/img/iso-view.png');

  background-repeat: no-repeat;
  background-position: 20% 79%;
  background-size: 35%;
}

#gepm-internals{

  background-image: url('/img/iso-exploded-view.png');

  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-size: 111%;
}

#webview-graphs{

  background-image: url('/img/graph-webview.png');

  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 111%;
}

  #webview-graphs > .content,
  #gepm-internals > .content{

    text-align: center;
  }

    #webview-graphs > .content > .title,
    #gepm-internals > .content > .title{

      text-shadow: 4px 4px 7px #242424;
      text-transform: uppercase;
      letter-spacing: -3px;
      font-size: 1.5em;
      font-weight: 900;

      margin-bottom: 1em;
    }

      #webview-graphs > .content > .title > .emphasis,
      #gepm-internals > .content > .title > .emphasis {

        color: #ccfe42;
      }

    #webview-graphs > .content > .subtext,
    #gepm-internals > .content > .subtext{

      letter-spacing: -2px;
      text-shadow: 3px 3px 5px #242424;
    }

#contact-us.split-row{

  min-height: 0;
  background-color: #fff;

  padding-top: 5%;

  box-sizing: border-box;
}

  #contact-us.split-row > .split {

    background-color: #fff;
    padding: 0 5%;
    min-height: 0;

  }

  #contact-us.split-row > .split > .detail {

    margin-bottom: 2em;
    font-size: 90%;
    color: #777;
  }

    #contact-us.split-row > .split > .detail > .title {

      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 900;
      margin-bottom: .5em;
    }

  #displayWindow, #exportPanel {
       display: none;
  }

   a[id] {
  text-decoration: none;
  font-size:small;
  }



  //dataFilter and defaultSettings content
      .df_content, .ds_content{
        margin: 20px 20px;
      }
        .innerContainer2{
            display:inline-block;
            margin-left:5px;
        }
        #headTitle{
         display:block;
           color: #777;
           margin-left:100px;
            width: 100%;
        }
        .notsaved a{
         color: #777772;
        }

        .highlight {
            color:green}

        .panel-heading a {
            text-decoration: none}

        svg {
        width:100%
        }

        div .panel-heading i {
            vertical-align: middle;
            font-size:1.2em;
        }

        @media (max-width: 768px){
            #page-content-wrapper {
                padding: 10px;
                position: relative;
            }
        }

        #quick a:focus  {
           color:green
        }

        @media (max-width: 990px){
        .admintableTabs{
        margin-top:2em

        }
        }

        .adminTime{
          margin-left:0px;padding-left:0px
        }


        .adminGeneralData h4{
          color: #808000
        }

        #admintabs {
            padding-left:0;
            padding-right:0;
        }

        .modal-content {overflow-y: auto}
        .flex-container {
        list-style: none;
        align-items: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        }

        .flex-item {
        padding: 5px;
        width: 150px;
        height: 100px;
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
        }

        .flex-item-img{
        padding: 5px;
        margin-top: 10px;
        }

      .d3-tip {
          line-height:1;
          font-weight: 400;
          font-size:small;
          padding: 4px;
          background: rgba(0, 0, 0, 0.8);
          color: #fff;
          border-radius: 2px;
            }

        /* Creates a small triangle extender for the tooltip */
        .d3-tip:after {
          box-sizing: border-box;
          display: inline;
          font-size: 10px;
          width: 100%;
          line-height: 1;
          color: rgba(0, 0, 0, 0.8);
          content: "\25BC";
          position: absolute;
          text-align: center;
        }

        /* Style northward tooltips differently */
        .d3-tip.n:after {
          margin: -1px 0 0 0;
          top: 100%;
          left: 0;
        }

        .d3-tip-area {
            line-height: 1;
            font-weight: 400;
            font-size: small;
            padding: 4px;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            border-radius: 2px;
        }

        /* Style northward tooltips differently */

        .d3-tip-area.n:after {
            margin: -1px 0 0 0;
            top: 100%;
            left: 0;
        }

svg {box-shadow: 0 4px 7px rgba(0,0,0,.7); }

.brush .extent {
  stroke: #fff;
  fill-opacity: .225;
  shape-rendering: crispEdges;
}

//New CSS

/*! fonts */
 @import "img/fonts.css";


 /*! General */
.info a ,.info img,.info input,.info button {outline: 0 none !important;}
.info a,.info a:hover, a:focus {text-decoration:none;}
 body .info {color: #373435;font-family: 'Ubuntu', sans-serif;font-weight: 300;line-height:14px;}
 body , html  {height: 100%;min-height: 100%;}
.info h1,.info h2,.info h3,.info h4 {font-weight:500;margin:0;}
 section {position: relative;}
 .grid {color: #7bc77f;}
 .generator {color: #d4790c;}
 .inverter {color: #92b5c4;}
 .normal {color: #96989A;}

 /*! header */
 .top-header {background-color: #012033;font-family: 'Noto Sans', sans-serif;}
 .top-header .motto, .top-header .top-header-menu a, .top-header .top-header-menu a:hover, .top-header .top-header-menu a:focus {color:#ccff42;font-size: 11px;}
 .top-header .motto, .top-header .top-header-menu {padding: 10px 0;}
 .top-header .top-header-menu {text-align: right;}
 .top-header .top-header-menu a {text-transform: uppercase;}
 .top-header .top-header-menu .my-account {margin-right: 30px;}

 .header {background-color: #012033;}
 .header .navbar {border-radius: 0;margin-bottom: 0;}
 .header .navbar-header .navbar-brand {color: #fff;height: 80px;padding: 0;}
 .header .navbar-header .navbar-brand span {display: block;height: 80px;overflow:hidden;}
 .header .navbar-header .navbar-brand img {height: 135px;margin: -30px 0 0 -30px;}
 .header .navbar .nav li {margin-left: 20px;padding: 20px 0 0 0;}
   @media (max-width: 768px){
     .header .navbar .nav li {margin-left: 20px;padding: 0px 0 0 0;}
         }
 .header .navbar .nav li a,.header .navbar .nav li a:focus,.header .navbar .nav li a:hover {background-color: transparent;color:#fff;font-family: 'Noto Sans', sans-serif;font-size:12px;font-weight: bold;line-height: 40px;padding:0 4px;text-transform:uppercase;}
 .header .navbar .nav li.active a {border-bottom: 2px #ccff42 solid;color: #ccff42;}

 .header .navbar-toggle {margin-top: 18px;}
 .header .navbar-toggle .icon-bar {background-color: #FEFEFE;}

 /*! slide block */
 .slide-block {background-position: top center;background-size: 100% 100%;height: 470px;width: 100%;}
 .a-slide-block {background-position: top center;background-size: 80% 100%;height: 470px;width: 100%;}
 .landing .slide-block {   background:
                        /* top, transparent red, faked with gradient */
                        linear-gradient(
                          rgba(55,52,53, 0.45),
                          rgba(55,52,53, 0.45)
                        ),
                        /* bottom, image */
                        url(img/landing-banner.gif);}
 .about-landing .a-slide-block {background-image: url(img/about-landing.png);background-color: #012033;background-repeat: no-repeat;}
 .grit-text {color: #fff;left: 0;position: absolute;text-align: center;top: 0;width: 100%;z-index: 4999;}
 .grit-atext {color: #fff;left: 0;position: absolute;text-align: center;top: 60px;width: 100%;z-index: 4999;}
 .grit-text .main-text {font-size: 3.5em;font-weight: bold;line-height: 60px;text-shadow: black 1px 0 10px;}
 .grit-atext .about-text {font-size: 2.5em;font-weight: bold;line-height: 60px;}
 .grit-atext .about-text span {color: #3cb878;}
 .grit-text .text {font-size: 2em;font-style: italic;line-height: 30px;text-shadow: black 1px 0 10px;}
 a.grit-btn {background-color: #ccff42;color: #373435;border-radius: 8px;border-bottom: solid 2px #3cb878;display: block;font-size: 18px;margin: 40px auto 0;padding: 12px 4px;text-align: center;width: 150px;}
 .grit-atext a.grit-btn {margin-top: 252px;}
 .grit-btn:hover, a.grit-btn:focus {color: #373435;}
 .grit-info {font-size: 1.5em;font-weight:500;line-height: 30px;margin: 60px auto;padding: 30px 0;text-align: center;width: 50%;}

 .grit-strip {background-image:url(img/grit-gen.png);width: 100%;height: 300px;background-repeat: no-repeat;background-size:cover;margin: 0 auto;}

 .grit-systems {padding: 50px 0;}
 .grit-systems .col-md-4:nth-child(1) {margin-top: 0 !important;}
 .grit-systems .col-md-4 {margin-top: 0;text-align: center;}
 .grit-systems .grit-menu-image {border: 1px #3cb878 solid;border-radius: 50%;height: 150px;line-height: 150px;margin: 0 auto;width: 150px;}
 .grit-systems .grit-menu-image img {max-width: 50%;}
 .grit-systems .grit-content {margin-top: 30px}
 .grit-systems .head {font-size: 20px;font-weight: 500;margin-top: 30px;padding: 4px 30px;}
 .grit-systems .content {font-size: 15px;line-height: 20px;margin-top: 12px;padding:0 30px;}

 .grit-clientele {border-top: 1px #d7d7d7 solid;padding: 50px 0;text-align:center;border-bottom: 1px #d7d7d7 solid}
 .grit-clientele .head {color: #797979;text-transform: uppercase;}
 .grit-clientele .grit-client {margin:40px 0;}
 .grit-clientele .grit-client img {margin-right:50px;margin-top:0;}

 .grit-testimonials-block {background-color: #F3F3F4;border-top: 1px #d7d7d7 solid;text-align:center;padding: 50px 0;}
 .grit-testimonials-block h4 {color: #3cb878;}
 .grit-testimonials-block .grit-testimonials {line-height: 22px;margin: 20px auto 0;width: 80%;}

 .grit-video-block {padding: 1px 0;text-align:center;background-color: #F3F3F4;}
 /*.grit-video-block .grit-video {height: 0;margin-bottom: 10px;overflow: hidden;padding-top: 25px;padding-bottom: 29.5%;position: relative;}
 .grit-video-block .grit video iframe {height: 100%;left: 0;margin: 0 auto;position: absolute;right: 0;top: 0;width: 100%;}*/

 /*! about-block*/
 .about-block {background-color: #f5f5f5;padding: 50px 0;}
 .about-block .col-md-6:nth-child(1) {margin-top: 0 !important;}
 .about-block .col-md-6 {margin-top: 0;text-align: center;}
 .about-block .grit-menu-image-1 {border-top: 4px #3cb878 solid;border-radius: 10px;height:300px;margin: 0;width: 550px;background-image: url(img/about-grit-1.png);background-repeat: no-repeat;}
 .about-block .grit-menu-image-2 {border-top: 4px #3cb878 solid;border-radius: 10px;height:300px;margin: 0;width: 550px;background-image: url(img/about-grit-2.png);background-repeat: no-repeat;}
 /*.about-block .content-block .header-text {font-size: 20px;font-weight: 500;}
 .about-block .content-block .content-text {font-size: 14px;line-height: 20px;margin-top: 15px;}*/

 /*! base */
 .base {background: #012033;padding: 75px 0;}
 .base .text-1, .base .text-2 {color: #fefefe;line-height: 22px;}
 .base .text-1 {font-size: 18px;font-weight: 700;}
 .base .text-2 {font-size: 14px;}
 .base .subscribe {margin-top: 12px;}
 .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {margin-left: -53px;}
 .base .subscribe .form-control {color: #404141;border: 0 none;border-radius: 4px;box-shadow: none;height: 36px;padding-right: 56px;}
 .base .subscribe .form-control:focus {box-shadow: none;}
 .base .subscribe .btn-grit {background-color: #3cb878;border: 0 none;border-radius: 4px;color: #fefefe;z-index: 10;}
 .base .grit-social {line-height:92px;text-align: right;}
 .base .grit-social a {background-color: #fff;border-radius: 50%;color: #3cb878;display: inline-block;height: 40px;margin-left: 25px;text-align: center;width: 40px;}
 .base .grit-social a:first-child {margin-left: 0;}
 .base .grit-social i {display: block;font-size: 20px;line-height: 40px;}


 /*! account */
 .account {padding: 35px 0;}
 .account h2 {text-align: center;}
 .account .grit-details {border-style: solid;border-color: #E6E7E8 #E6E7E8 #3cb878;border-width: 1px 1px 3px;border-radius: 8px;margin: 30px auto 0;padding: 25px;width: 50%;}
 .account .grit-details .head-text {font-size: 17px;font-weight: 400;text-align: center;text-transform: uppercase;}
 .account .grit-details .grit-power-source, .account .grit-details .grit-power-details, .account .grit-details .grit-power-cost {margin: 35px auto 0;width: 100%;}
 .account .grit-details .data {font-size: 12px;line-height: 14px;margin-top: 10px;}
 .account .grit-details .data-1 {font-weight: 500;}
 .account .grit-details [class^="data-"] span {display: inline-block;}
 .account .grit-details .data-1 span:first-child, .account .grit-details .data-2 span:first-child {margin-right: 5px;text-align: right;width: 114px;}
 .account .grit-details .image {text-align: right;}
 .account .grit-details .image img {height: 180px;width: 180px;}
 .account .grit-details .show-data {background-color:#F8F8F8;border-radius: 4px;color: #999;font-size: 17px;margin: 30px -25px -25px;padding: 25px 0;text-align: center;}
 .account .grit-power-details {}
 .account .grit-power-details .power-details {float: left;margin-left: 12px;}
 .account .grit-power-details .power-details:first-child {margin-left: 0;}
 .account .grit-power-details .power-details .percentage {border: #e6e7e8 1px solid;border-radius: 50%;font-size: 12px;height: 40px;line-height: 40px;margin: 0 auto;text-align: center;width: 40px;}
 .account .grit-power-details .power-details .grit-line {background-color:#e6e7e8;height: 26px;margin: 0 auto;width: 1px;}
 .account .grit-power-details .power-details .grit-box {height: 12px;margin: 0 auto;width: 12px;}
 .account .grit-power-details .grit-grid  .grit-box {background-color: #7bc77f;}
 .account .grit-power-details .grit-generator  .grit-box {background-color: #d4790c;}
 .account .grit-power-details .grit-error  .grit-box {background-color: #d4090c}
 .account .grit-power-details .grit-inverter  .grit-box {background-color: #92b5c4;}
 .account .grit-power-details .power-details .det {font-size: 12px;margin-top: 5px;text-align: center;}


 /*! footer */
 footer {}
 footer.has-border {border-top: 1px #E6E7E8 solid;}
 footer .grit-foot {font-size:16px;padding: 22px 0;}
 footer .grit-foot img {margin-right: 30px;}
 footer .grit-foot a {color:#3cb878;display: inline;margin-left: 30px;margin-top: 0;}


 /*! grit stuffs*/
 .grit-pages-col-1 {margin: 30px auto 0;width: 50%;}
 .grit-pages-col-3 {margin: 20px  ;width:29%;}

 .grit-pages {padding: 35px 0;}
 .grit-pages h2 {color:#3cb878;text-align: center;text-transform: uppercase;}
 .grit-pages .grit-page-content {border: #E6E7E8 solid;border-width: 1px 1px 3px;border-radius: 8px;overflow: hidden;padding: 25px;position: relative;}
 .grit-pages .grit-page-content address {font-size: 13px;line-height: 15px;margin-top: 12px;}
 .grit-pages .grit-page-content .phone, .grit-pages .grit-page-content .email {font-size: 13px;margin-top: 16px;}
 .grit-pages .grit-page-content .phone i {transform: rotate(90deg);}
 .grit-pages .grit-page-content .phone i, .grit-pages .grit-page-content .email i {color: #3cb878;float: left;margin-right: 10px;margin-top: 4px;overflow: hidden;}
 .grit-pages .grit-page-content .phone span, .grit-pages .grit-page-content .email span {float: left;line-height: 15px;}
 .grit-pages .grit-page-content .custom-location {display: block;position: absolute;right: 40%;top: 72px;width: 45px;}
 .grit-pages .grit-page-content .custom-location img {max-width: 100%;}
 .grit-pages .grit-page-content .cross-line {background-color:#E6E7E8;height: 1px;margin: 20px -10px;width: 104%;}
 .grit-pages .grit-page-content.default {border-bottom-color: #2a8052;}
 .grit-pages .grit-page-content.business {border-bottom-color: #d4790c;}
 .grit-pages .grit-page-content.enterprise {border-bottom-color: #d4090c;}
 .grit-pages .grit-page-content .grit-plan {}
 .grit-pages .grit-page-content .grit-plan span {display: inline-block;line-height: 32px;}
 .grit-pages .grit-page-content .grit-plan span:nth-child(1) {border-radius: 50%;color:#fff;height: 32px;margin-right: 20px;text-align: center;width: 32px;}
 .grit-pages .grit-page-content.default .grit-plan span:nth-child(1) {background-color: #3cb878;}
 .grit-pages .grit-page-content.business .grit-plan span:nth-child(1) {background-color: #ff950c;}
 .grit-pages .grit-page-content.enterprise .grit-plan span:nth-child(1) {background-color: #ff0a0f;}
 .grit-pages .grit-page-content .grit-plan span:nth-child(2) {font-weight: 500;text-transform: uppercase;}
 .grit-pages .grit-page-content .grit-plan-details {margin-top: 12px;}
 .grit-pages .grit-page-content .grit-plan-details .grit-specifics {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 12px;line-height: 18px;}
 .grit-pages .grit-page-content .grit-plan-details .grit-specifics:nth-child(3) {margin-top: 12px;}
 .grit-pages .grit-page-content .grit-plan-details .grit-specifics span {display: inline-block;width: 50%;}
 .grit-pages .grit-page-content .grit-plan-details .grit-specifics span:nth-child(1) {padding-right: 5px;text-align: right;}
 .grit-pages .grit-page-content .grit-plan-details .grit-specifics span:nth-child(2) {color: #797979;padding-left: 5px;}
 .grit-pages .grit-page-content .get-grit-plan {border-radius: 4px;color: #fff;display:block;font-size: 14px;font-weight: 500;margin: 20px -25px -25px;padding: 12px 0;text-align: center;}
 .grit-pages .grit-page-content.default .get-grit-plan {background-color:#3cb878;}
 .grit-pages .grit-page-content.business .get-grit-plan {background-color:#ff950c;}
 .grit-pages .grit-page-content.enterprise .get-grit-plan {background-color:#ff0a0f;}
 .grit-pages .grit-page-content .write-us {margin-top: 80px;}
 .grit-pages .grit-page-content .write-us .wh {font-weight: 500;}
 .grit-pages .grit-page-content .write-us .write-us-form {margin-top: 20px;}
 .grit-pages .grit-page-content .form-control {border-radius: 0;}


 /*! get started*/
 .grit-pages .grit-page-content.non-active {display: none !important;}
 .grit-pages .grit-page-content.active {display: block !important;}
 .grit-pages .grit-page-content .start-grit {margin: 0 auto;padding-bottom: 38px;position: relative;width: 535px;}
 .grit-pages .grit-page-content .start-grit .straight-line, .grit-pages .grit-page-content .border-line {background-color:#E6E7E8;height: 1px;line-height: 30px;margin: 0 auto;width: 380px;}
 .grit-pages .grit-page-content .start-grit .start-g {position: absolute;top:-13px;}
 .grit-pages .grit-page-content .start-grit .start-g span {display: block;font-size: 12px;text-align: center;}
 .grit-pages .grit-page-content .start-grit .start-g span:nth-child(1) {background-color:#E6E7E8;border-radius: 50%;height: 26px;line-height: 24px;margin: 0 auto;width: 26px;}
 .grit-pages .grit-page-content .start-grit .start-g span:nth-child(2) {color: #787878;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;margin-top: 3px;}
 .grit-pages .grit-page-content .start-grit .start-g.active span:nth-child(1) {background-color:#3cb878;color: #fff;}
 .grit-pages .grit-page-content .start-grit .start-g.active span:nth-child(2) {font-weight: bold;}
 .grit-pages .grit-page-content .start-grit .start-1 {left: 38px;}
 .grit-pages .grit-page-content .start-grit .start-2 {left: 0;margin: 0 auto;right:0;}
 .grit-pages .grit-page-content .start-grit .start-3 {right: 33px;}
 .grit-pages .grit-page-content .text-center {font-size: 12px;font-weight: 500;margin-top: 24px;}
 .grit-pages .grit-page-content .grit-select-toggle {margin: 20px auto;width: 186px;}
 .grit-pages .grit-page-content .grit-select-toggle .btn {background-color: #f4f5f6;border-radius: 8px !important;color: #787878;padding: 15px 24px;}
 .grit-pages .grit-page-content .grit-select-toggle .btn.active {background-color:#fff;border-color:#3cb878;box-shadow: none;color:#3cb878;}
 .grit-pages .grit-page-content .grit-select-toggle .btn:not(:first-child) {margin-left: 8px;}
 .grit-pages .grit-page-content .grit-start-form {margin: 18px 0 0 20px;width: 85%;}
 .grit-pages .grit-page-content .form-1 {margin-left: 45px;}
 .grit-pages .grit-page-content .grit-start-form .form-control {border-radius: 8px;}
 .grit-pages .grit-page-content .grit-start-form .col-sm-3 {padding-top: 7px;}
 .grit-pages .grit-page-content .finished {font-weight: 500;line-height: 20px;margin: 0 auto;padding: 40px 0;width: 70%;}
 .grit-pages .grit-page-content .finished:nth-child(1) {text-align: center;}
 .grit-pages .grit-page-content .finished span {display: block;}
 .grit-pages .grit-page-content .finished a {color:#3cb878;}
 .grit-pages .grit-page-content .border-line {margin: 0 -25px;width: 110%;}
 .grit-pages .grit-page-content .grit-amount {background-color:#ccff42;margin: 24px -25px 12px;padding: 24px 0;}
 .grit-pages .grit-page-content .grit-amount span {display: block;font-weight: 500;text-align: center;}
 .grit-pages .grit-page-content .grit-amount span:first-child {font-size: 12px;}
 .grit-pages .grit-page-content .grit-amount span:not(:first-child) {font-size: 24px;margin-top: 6px;}



 /*! Responsive */
 @media (min-width: 980px) and (max-width: 1024px) {
     .slide-block, .a-slide-block {background-size: auto 100%;}
     .grit-info {width: 80%;}
     .grit-systems .col-md-4, .about-block .col-md-6 {margin-top: 30px;}
     .grit-clientele .grit-client img {margin-top: 20px;}
     .account .grit-details, .grit-pages .grit-page-content {width: 80%;}
 }

 @media (min-width: 768px) and (max-width: 979px) {
     .slide-block, .a-slide-block  {background-size: auto 100%;}
     .grit-info {width: 80%;}
     .grit-systems .col-md-4, .about-block .col-md-6 {margin-top: 30px;}
     .grit-clientele .grit-client img {margin-top: 20px;}
     .account .grit-details, .grit-pages .grit-page-content {width: 80%;}
     .base  .col-xs-6 {width: 100%;}
     .base .text-1, .base .text-2, .base .grit-social {text-align: center;}
     footer .grit-foot {padding: 22px 20px;}
 }

 @media (max-width: 767px) {
     .navbar-collapse .nav li {margin: 4px 25px;padding: 0;text-align: right;}
     .navbar-collapse .nav li a, .navbar-collapse .nav li a:focus, .navbar-collapse .nav li a:hover {line-height: 20px;}
     .slide-block, .a-slide-block {background-size: auto 100%;}
     .grit-info {width: 80%;}
     .grit-systems .col-md-4, .about-block .col-md-6 {margin-top: 30px;}
     .grit-clientele .grit-client img {margin-top: 20px;}
     .account .grit-details, .grit-pages .grit-page-content {width: 80%;}
     .grit-pages .grit-page-content .start-grit {width: 410px;}
     .grit-pages .grit-page-content .start-grit .straight-line {width: 300px;}
     .about-block {padding-left: 40px;padding-right: 40px;}
     .base  .col-xs-6 {width: 100%;}
     .base .text-1, .base .text-2, .base .grit-social {text-align: center;}
     footer .grit-foot {padding: 22px 20px;}
 }

 @media (max-width: 600px) {
     .grit-info {width: 80%;}
     .grit-systems .col-md-4, .about-block .col-md-6 {margin-top: 30px;}
     .grit-clientele .grit-client img {margin-top: 20px;}
     .account .grit-details, .grit-pages .grit-page-content {width: 80%;}
     .base  .col-xs-6 {width: 100%;}
     .base .text-1, .base .text-2, .base .grit-social {text-align: center;}
     footer .grit-foot {padding: 22px 20px;}
 }

 @media (max-width: 480px) {
     .top-header .col-xs-6 {width: 100%;}
     .top-header .col-xs-6:first-child {display:none;}
     .top-header .top-header-menu {text-align: left;}
     .top-header .motto, .top-header .top-header-menu {padding: 5px 0;}
     .grit-text .main-text {font-size: 2.15em;line-height: 38px;}
     .grit-text .text {font-size: 1.4em;}
     .grit-info {font-size:1.4em;line-height: 25px;width: 80%;}
     .grit-systems .col-md-4, .about-block .col-md-6 {margin-top: 30px;}
     .grit-clientele .grit-client img {margin-top: 20px;}
     .about-block {padding-left: 40px;padding-right: 40px;}
     .account .grit-details .col-xs-6 {width: 100%;}
     .account .grit-details .image {display: none;}
     .account .grit-details, .grit-pages .grit-page-content {width: 80%;}
     .grit-pages .grit-page-content .custom-location {right: 10%;}
     .grit-pages .grit-page-content .start-grit {width: 330px;}
     .grit-pages .grit-page-content .start-grit .straight-line {width: 200px;}
     .base  .col-xs-6 {width: 100%;}
     .base .text-1, .base .text-2, .base .grit-social {text-align: center;}
     footer .grit-foot {padding: 22px 20px;}
     footer .grit-foot img {margin-right: 10px;}
     footer .grit-foot a {display: inline-block;margin-left: 10px;margin-top: 12px;}
 }

 @media (max-width: 360px) {
     .grit-pages .grit-page-content .start-grit {display: none;}
     .grit-pages .grit-page-content .grit-start-form {margin: 18px 0 0 0;}
 }

 @media (max-width: 320px) {
     .grit-pages .grit-page-content .custom-location {display: none;}
 }

 @media (max-width: 280px) {
     .account .grit-details span {display: block !important;text-align: left !important;}
 }

//Color Picker
        .color-picker {
        font-family:RobotoDraft;
        height:128px;
        width:224px;
        box-shadow:0 2px 5px rgba(0,0,0,0.25);
        background-color:#eee;
        display:inline-flex;
        flex-direction:row;
        flex-wrap:wrap;
        transform: scale(0,0);
        transform-origin: bottom left;
        transition: transform 0.2s ease;
        will-change: transform;
        }

        .hex {
        width:96px;
        height:32px;
        padding:8px;
        box-sizing:border-box;
        }

        .hex input {
        width:100%;
        outline:none;
        box-sizing:border-box;
        padding:0;
        border:none;
        font-family:'RobotoDraft';
        background-color:transparent;
        }

        .hex .underline {
        width:100%;
        box-sizing:border-box;
        height:2px;
        background-color:#ccc;
        position:relative;
        }

        .underline:before {
        content: "";
        position:absolute;
        top:0;
        left:0;
        right:0;
        height:2px;
        background-color:#03A9F4;
        transform:scaleX(0);
        transition: transform 0.2s ease;
        }

        .hex input:focus + .underline:before {
        transform:scaleX(1);
        }

        input[type=color] {
        width:64px;
        height:32px;
        box-sizing:border-box;
        background-color:transparent;
        border:none;
        cursor:pointer;
        outline:none;
        transition:box-shadow 0.5s ease;
        }

        input[type=color]:active, input[type=color]:focus {
        box-shadow:0 5px 30px rgba(0,0,0,0.25),
        0px -5px 10px rgba(0,0,0,0.25);
        }

        .color-picker > div {
        width:32px;
        height:32px;
        cursor:pointer;
        }

        .transparent {
        border:1px solid #333;
        box-sizing:border-box;
        background-image:linear-gradient(-45deg, transparent, transparent 48%, red 49%, red 51%, transparent 52%, transparent);
        }

        .red {
        background-color:#F44336;
        }

        .pink {
        background-color:#E91E63;
        }

        .purple {
        background-color:#9C27B0;
        }

        .deep-purple {
        background-color:#673AB7;
        }

        .indigo {
        background-color:#3F51B5;
        }

        .blue {
        background-color:#2196F3;
        }

        .light-blue {
        background-color:#03A9F4;
        }

        .cyan {
        background-color:#00BCD4;
        }

        .teal {
        background-color:#009688;
        }

        .green {
        background-color:#4CAF50;
        }

        .light-green {
        background-color:#8BC34A;
        }

        .lime {
        background-color:#CDDC39;
        }

        .yellow {
        background-color:#FFEB3B;
        }

        .amber {
        background-color:#FFC107;
        }

        .orange {
        background-color:#FF9800;
        }

        .deep-orange {
        background-color:#FF5722;
        }

        .brown {
        background-color:#795548;
        }

        .gray {
        background-color:#9E9E9E;
        }

        .blue-gray {
        background-color:#607D8B;
        }

        .black {
        background-color:#000000;
        }

        .white {
        background-color:#fff;
        }

        #close {
        background-color:#eee;
        display:flex;
        align-items:center;
        justify-content:center;
        user-select:none;
        color:#333;
        }

        .paper-button {
        padding:8px 16px;
        font-weight:500;
        border:none;
        background-color:#2196F3;
        color:white;
        border-radius:2px;
        box-shadow:0 1px 2px rgba(0,0,0,0.25);
        cursor:pointer;
        transition: box-shadow 0.1s ease;
        }
