/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
.zero-margins {
  margin-left: 0;
  margin-right: 0;
}
.navbar-inverse {

  .navbar-toggle-always {
    border-color: @navbar-inverse-toggle-border-color;
    &:hover,
    &:focus {
     // background-color: @navbar-inverse-toggle-hover-bg;
    }
    .icon-bar-always {
      //background-color: @navbar-inverse-toggle-icon-bar-bg;
    }
  }
}
.navbar-toggle-always .icon-bar {
  background-color: black;
}
.navbar-toggle-always{

  .navbar-toggle;

  @media (min-width: 768px){
    display: block!important;
    border:1px solid #333333;
    border-color: #ddd;
  }

  .zero-margins;

  .icon-bar-always {
    .icon-bar;
    border:1px solid #fff;
    display: block;
    border-radius: 1px;
  }

  .icon-bar-always + .icon-bar-always {
    margin-top: 4px;
  }
  margin-right: 50px;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 15px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

a#displayWindowLink, a#displayExportPanel {
    font-size: 16px;
}

@media(max-width:768px){

        #wrapper {
        padding-left: 250px;
        }

        #sidebar-wrapper {
        width: 250px;
        }

        #wrapper.toggled #sidebar-wrapper {

            #wrapper {
             padding-left: 250px;
            }
            width: 50px;

        }

        #page-content-wrapper {
            padding-left: 50px;
            padding-top :50px;
            padding-bottom : 50px;
            position: relative;
        }

        #wrapper.toggled #page-content-wrapper {
            position: relative;
            margin-right: 0;
        }

        #nav>li>a>i, #nav>li>a>.nav-icon {
            position: relative;
            display: block;
            float: left;
            width: 50px;
            height: 50px;
            line-height: 50px;
            //border-right: 1px solid #e5e5e5;
            text-align: center;
            margin: -15px 10px -15px -11px;
        }


                            }


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 50px;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px;
    }

    #page-content-wrapper {
        padding: 50px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #nav>li>a>i, #nav>li>a>.nav-icon {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
        //border-right: 1px solid #e5e5e5;
        text-align: center;
        margin: -15px 10px -15px -11px;
    }

}
