<div data-lift="surround?with=base-wrap;at=content">
    <lift:head>
        <title data-lift="Menu.title">$name$: %*%</title>
    </lift:head>
    <div class="main-content">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            li {
                list-style-type: none
            }

            #lift__noticesContainer___notice {
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid transparent;
                border-radius: 4px;
                background-color: #dff0d8;
                border-color: #d6e9c6;
                color: #3c763d;
            }

            #lift__noticesContainer___warning {
                background-color: yellow;
            }

            #lift__noticesContainer___error {
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid transparent;
                border-radius: 4px;
                background-color: #f2dede;
                border-color: #ebccd1;
                color: #a94442;
            }

            input[type='checkbox'] {
                width: 20px;
                height: 20px;
                border-radius: 2px;
                border: 1px solid;
            }

            input[type='checkbox']:checked {
                background: #abd;
            }

            .light {
                color: rgba(0, 0, 0, 0.6);
                font-weight: 600
            }
        </style>
        <div data-lift="Notices"></div>
        <div class="container" style="margin-top:50px">
            <h2>Billing</h2>
            <hr>


            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 lift:Billing.balance" style="margin-top:1em">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Overview</b></h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-sm-6">Recent Card Number</span>
                                    <span class="col-sm-6"><b id="recentCard"></b></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-sm-6">Last Payment Made</span>
                                    <span class="col-sm-6">&#8358; <b id="lastPayment"></b></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <span class="col-sm-6">Total Amount Due</span>
                                    <span class="col-sm-6">&#8358; <b id="totalOwing"></b></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11" style="margin-top:1em">
                    <div class="panel panel-default lift:Billing.outStandingBills">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Outstanding Bills</b></h3>
                        </div>
                        <div class="panel-body" id="cover">
                            <div class="alert  alert-info alert-dismissible" role="alert" style="display :none">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Check</strong> the bill(s) you want to pay for
                            </div>
                            <div class="row">
                                <div class=" lift:Msgs"></div>
                            </div>
                            <form method="post" class="lift:Billing">
                                <div class="ui cards ">
                                    <div class="card">
                                        <div class="content">
                                            <div>
                                                <i class="light">Reference : </i> <span id="ref"></span>
                                            </div>
                                            <div>
                                            </div>
                                            <div class="description" style="padding-top:5px" class="meta">
                                                <i class="light">Due date : </i> <span id="date"></span>
                                            </div>
                                            <div class="description" style="padding-top:5px" class="meta">
                                                <i class="light">Tag : </i><span class="tag badge"></span>
                                            </div>
                                        </div>
                                        <div class="extra content">
                                            <div class="ui two">
                                                <span class=""><i>Amount :</i> </span>
                                                <span class="ui basic label big green">&#8358; <span id="amount">10 000</span></span>
                                                <input type="checkbox" class="nn" value="" name="invoices">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top:30px">
                                    <script src="https://js.paystack.co/v1/inline.js"></script>
                                    <input type="hidden" id="hidden" name="hidden" value="<lift:Billing.howdy />">
                                    <input id="email" class="lift:Billing.balance" type="hidden">
                                    <input id="number" name="number" type="hidden" value="">
                                    <button type="button" id="payButton" class="btn btn-success btn-lg"> <i class="fa fa-credit-card"></i> Pay with Card </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11" style="margin-top:1em">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Payment History</b></h3>
                        </div>
                        <table class="table lift:Billing.paymentHistory">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Amount (&#8358;)</th>
                                <th>Payment system</th>

                            </tr>
                            </thead>
                            <tbody class="lists">
                            <tr>
                                <th scope="row" id="payRef"></th>
                                <td></td>
                                <td id="payDate"></td>
                                <td id="payAmount"></td>
                                <td id="method"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <script>
                if (!localStorage["alertdisplayed"]) {
                    $('.alert').show();
                    window.setTimeout(function() {
                        $(".alert").fadeOut("slow", "swing")
                    }, 8000);
                    localStorage["alertdisplayed"] = true
                }
            </script>
        </div>
    </div>
</div>
<span data-lift="embed?what=/templates-hidden/parts/footer"></span>
</div>