<div data-lift="surround?with=base-wrap;at=content" style="box-sizing: content-box">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="main-content" id="layout-wrapper" >
        <div class="lift:head" >
            <title data-lift="Menu.title">GRIT SYSTEMS: %*%</title>
        </div>
        <div class="lift:test_cond.loggedin" >
            <div data-lift="homepageops.passwordRedirect"></div>
            <div class="row" data-lift="homepageops.getUserStuff">
                <input id="hiddenTimeWindow" value="24" hidden/>
                <input id="blockUserAccess" value="false" hidden/>
                <input id="realTimeWindow" value="300" hidden/>
                <div class="row" id="displayWindow">

                    <div class="panel-heading" id="windowTab" >
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#time_filter">Time filter</a></li>
                            <lift:homepageops.multiple><li><a data-toggle="tab" href="#device_filter">Device filter</a></li></lift:homepageops.multiple>
                            <li data-lift="hasRole?name=admins"><a data-toggle="tab" href="#profile">Profile Settings</a></li>
                        </ul>
                        <div class="row tab-content col-lg-12 col-md-12 col-xs-12 ">
                            <div id="time_filter" class="tab-pane fade in active">
                                <div class="row">
                                    <br>
                                    <div class="col-sm-3 ">
                                        <ul class="nav nav-pills">
                                            <li class=" active col-sm-12"><a data-toggle="tab" href="#relative">Relative</a></li>
                                            <li class="col-sm-12"><a data-toggle="tab" href="#absolute">Absolute</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-9 tab-content">
                                        <div id="relative" class="row tab-pane fade  in active">
                                            <div class="col-sm-12">
                                                <span id="headTitle">Realtime window</span>
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-4">
                                                        <!--<label>From: </label><br>-->
                                                        <input id="rTimeRange" type="text" value="" style="top:33px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div id="absolute" class=" row tab-pane fade">
                                            <div class="col-sm-12">

                                                <div class="container">
                                                    <div class='col-sm-3 col-xs-5'>
                                                        From: <br>
                                                        <div class="form-group">
                                                            <div class='input-group date' id='datetimepicker1'>
                                                                <input type='text' class="form-control" />
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-sm-3 col-xs-5'>
                                                        To:<br>
                                                        <div class="form-group">
                                                            <div class='input-group date' id='datetimepicker2'>
                                                                <input type='text' class="form-control" />
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-md-3 col-xs-2'>
                                                        <br>
                                                        <button id="dPGo">GO</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <lift:homepageops.available>
                                <div id="device_filter" class="row tab-pane fade">
                                    <div class="row df_content">
                                        <div class="col-sm-6">
                                            <div id="adminListUsers">
                                                <span data-lift="hasRole?name=admin" >
                                                    <label>User Email</label><select id="users" class="form-control" >users</select>
                                                </span>
                                            </div>
                                            <br>
                                            <label>Configuration Name</label><select id="config" class="form-control" >config</select>
                                            <!--<label>Probe Name</label><select id="probe" class="form-control" >probe</select>-->
                                            <span data-lift="homepageops.hasConsumerGroup" >
                                            <br>
                                <label>Consumer Group</label><select id="consumerGroup" class="form-control" >consumerGroup</select>
                                </span>
                                            <br>
                                            <span data-lift="homepageops.hasConfigGroup" >
                                <label>Configuration Group</label><select id="configGroup" class="form-control" >configGroup</select>
                                </span>
                                        </div>

                                    </div>
                                </div>
                            </lift:homepageops.available>
                            <div id="profile" class="row tab-pane fade" data-lift="hasRole?name=admin">
                                <div class="row df_content">
                                    <div class="col-sm-8">
                                        <div id="">
                                            <form class="form-horizontal" id="profileSettings">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">Graph Background Color</label>
                                                    <div class="col-sm-6">
                                                        <!--<a href="#" class="btn btn-default" id="cp4">Background color</a>-->
                                                        <a class="paper-button ripple btn">
                                                            PICK A COLOR
                                                        </a>
                                                        <div class="translate">
                                                            <div class="color-picker" data-value="#2196F3">
                                                                <div class="red"></div>
                                                                <div class="blue"></div>
                                                                <div class="green"></div>
                                                                <div class="indigo"></div>
                                                                <div class="brown"></div>
                                                                <div class="black"></div>
                                                                <div class="teal"></div>
                                                                <div class="deep-orange"></div>
                                                                <div class="light-blue"></div>
                                                                <div class="light-green"></div>
                                                                <div class="deep-purple"></div>
                                                                <div class="amber"></div>
                                                                <div class="blue-gray"></div>
                                                                <div class="pink"></div>
                                                                <div class="orange"></div>
                                                                <div class="cyan"></div>
                                                                <div class="lime"></div>
                                                                <div class="purple"></div>
                                                                <div class="yellow"></div>
                                                                <div class="gray"></div>
                                                                <div class="white"></div>
                                                                <div class="transparent"></div>
                                                                <input type="color" id="colorinput">
                                                                <span class="hex">
                                                          <input type="text" id="text">
                                                          <div class="underline"></div>
                                                        </span>
                                                                <div id="close">
                                                                    <i class="material-icons">close</i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">Font size</label>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" id="fontChange" data-fontsize="12" style="pointer-events: auto">
                                                            <option value=""></option>
                                                            <option value="8">8px</option>
                                                            <option value="9">9px</option>
                                                            <option value="10">10px</option>
                                                            <option value="11">11px</option>
                                                            <option value="12">12px</option>
                                                            <option value="14">14px</option>
                                                            <option value="16">16px</option>
                                                            <option value="18">18px</option>
                                                            <option value="20">20px</option>
                                                            <option value="24">24px</option>
                                                            <option value="28">28px</option>
                                                            <option value="36">36px</option>
                                                            <option value="48">48px</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">Grid Color</label>
                                                    <div class="col-sm-6" style="pointer-events: auto">
                                                        <a href="#" class="btn btn-default" id="cp4">Select Color</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div  id="exportPanel" class="row">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <!-- Add the tab headers here. -->
                            <li role="presentation" class="active"><a data-toggle="tab" href="#exportCurrentDataContainer"><strong>CSV Data Export</strong></a></li>
                        </ul>
                        <br>
                        <div class="row tab-content col-lg-12 col-md-12 col-xs-12">
                            <!-- Add the tab bodies here. -->
                            <div id="exportCurrentDataContainer" class="col-lg-12 col-md-12 col-xs-12 tab-pane fade in active">
                                <div id="exportActions" class="row row-full">
                                    <div id="fetchDataAsCsvContainer" class="row row-full">
                                        <form  id="exportForm">
                                            <div class="row"><em>Please select a time range and interval for the data:</em></div> <br>
                                            <div class="row" style="margin-bottom:1em">
                                                <div class='col-sm-4'>
                                                    <em>Start Date & Time:</em><br>
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepickerStart'>
                                                            <input type='text' class="form-control" />
                                                            <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <em>Stop Date & Time:</em><br>
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepickerStop'>
                                                            <input type='text' class="form-control" />
                                                            <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-sm-4"><em>Interval:</em><br><input class="form-control" type="number" step="1" required id="intervalValue" value="1" type="text"/></div>
                                                <div class="col-sm-4">
                                                    <em>Interval Time Unit:</em><br>
                                                    <select class="form-control custom" id="interval" name="interval">
                                                        <option>Year</option>
                                                        <option>Month</option>
                                                        <option>Week</option>
                                                        <option>Day</option>
                                                        <option selected="selected">Hour</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--<label class="radio-inline"><input type="radio" name="interval" value="3600" checked>1 hour</label><br>-->
                                            <!--<label class="radio-inline"><input type="radio" name="interval" value="86400">1 day</label><br>-->
                                            <!--<label class="radio-inline"><input type="radio" name="interval" value="5"> Raw data</label><br>-->
                                            <!--<div class="row" style=""><div class="col-sm-9"><hr></div></div>-->
                                        </form>
                                        <br>
                                        <button id="fetchDataAsCsvBtn" type="button" class="btn btn-primary">Export Data</button>
                                    </div>
                                    <div id="exportPleaseWaitContainer" class="row row-full hidden">
                                        <img src="/img/ajax-loader.gif"><span>  Please wait...</span>
                                    </div>
                                    <br>
                                    <div id="errorMessageContainer" class="alert alert-danger" role="alert" style="display: none;">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        An error occurred. Please try again.
                                    </div>
                                    <div id="exported-data-container" class="row row-full"></div>
                                </div>
                            </div>
                            <!--<div id="exportSimulationsDataContainer" class="tab-pane fade">Far!</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>

            <div class="alert alert-danger alert-dismissible" role="alert" style="display:none" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error!
                </strong>
                No Data from this period.
            </div>
            <div id="realtime_stuff" class=" col-lg-12 col-md-12 col-xs-12" data-lift="homepageops.hasConsumerOnly">
                <div class="row">
                    <div class="col-xs-12 tab-content" >
                        <div id="real_live" class="tab-pane fade in active" style="margin-bottom:10px">
                            <div id="realpower_live" class="graph" ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-full collapse in" id="row10" data-lift="homepageops.hasConsumerOnly">
                <div  class=" col-lg-12 col-md-12 col-xs-12" >
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="dashboard-box ">
                                <div class="tab-pane fade in active">
                                    <div id="energyDay_graph" class="graph" ></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br>

            <div class="row" data-lift="homepageops.hasConsumerOnly">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>  <span data-i18n="Energy"> Summary</span></strong> <a class="pull-right" role="button" data-toggle="collapse" href="#row6" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-compress"> </i></a> </div>

                    <div class="row row-full collapse in" id="row6" >
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 tab-content ">
                                    <div class="dashboard-box">
                                        <br>
                                        <!--<h5>Energy / Power Source</h5>-->
                                        <div id="EnergyCharts" class="graph" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 tab-content ">
                                    <div class="dashboard-box">
                                        <br>
                                        <div id="TimeCharts" class="graph" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 tab-content ">
                                    <div class="dashboard-box">
                                        <br>
                                        <div id="costCharts" class="graph" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 tab-content ">
                                    <div class="dashboard-box">
                                        <br>
                                        <div id="costPerSourceCharts" class="graph" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-xs-12" data-lift="hasRole?name=admin" >
                            <div class="row">
                                <div class="col-xs-12 tab-content ">
                                    <div class="dashboard-box">
                                        <br>
                                        <div id="energyJSCharts" class="graph" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" id="distribution" data-lift="homepageops.hasConfigGroup">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong>
                        <img src="img/electricity.svg" style="height:1.5em; width: auto"/>  <span data-i18n="cost"> Distribution</span> </strong> <a class="pull-right" role="button" data-toggle="collapse" href="#row8" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-compress"> </i></a></div>
                    <div class="row row-full collapse in" id="row8" >
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 tab-content ">
                                    <div class="dashboard-box">
                                        <h5></h5>
                                        <div id="distributionCharts" class="graph" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 tab-content ">
                                    <div class="dashboard-box">
                                        <h5></h5>
                                        <div id="distributionChartsCost" class="graph" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" id="consumers" data-lift="homepageops.hasConsumerGroup">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong>
                        <img src="img/power.svg" style="height:1.3em; width: auto"/> <span data-i18n="cost"> Consumers</span> </strong> <a class="pull-right" role="button" data-toggle="collapse" href="#row9" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-compress"> </i></a></div>
                    <div class="row row-full collapse in" id="row9">
                        <ul class="nav nav-pills ">
                            <li class="active"><a data-toggle="pill" href="#tab-Energy">Energy</a></li>
                            <li><a data-toggle="pill" href="#tab-cost">Cost</a></li>
                        </ul>
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 tab-content  ">
                                    <div id="tab-Energy" class=" dashboard-box tab-pane fade in active" >
                                        <h5></h5>
                                        <div id="consumerGroupCharts" class="graph" ></div>
                                    </div>
                                    <div id="tab-power" class=" dashboard-box tab-pane fade ">
                                        <h5></h5>
                                        <div id="consumerGroupCostPower" class="graph" ></div>
                                    </div>
                                    <div id="tab-cost" class=" dashboard-box tab-pane fade ">
                                        <h5></h5>
                                        <div id="consumerGroupCostCharts" class="graph" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" id="phaseId" data-lift="homepageops.hasConsumerOnly">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong>
                        <i class="fa fa-certificate"></i> <span data-i18n="cost"> Quality</span> </strong> <a class="pull-right" role="button" data-toggle="collapse" href="#row15" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-compress"> </i></a></div>
                    <div class="row row-full collapse in" id="row15" >
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#current">Current</a></li>
                            <li ><a data-toggle="pill" href="#voltage">Voltage</a></li>
                            <li><a data-toggle="pill" href="#pf">Power Factor</a></li>
                        </ul>
                        <div  class=" col-lg-12 col-md-12 col-xs-12" >
                            <div class="row">

                                <div class="tab-content  col-xs-12">
                                    <div id="current" class="tab-pane fade in active" style="margin-bottom:30px">
                                        <h5></h5>
                                        <div class="graph" id="CurrentPhaseGraph"></div>
                                    </div>
                                    <div id="voltage" class="tab-pane fade " style="margin-bottom:30px">
                                        <h5></h5>
                                        <div class="graph" id="VoltagePhaseGraph" ></div>
                                    </div>

                                    <div id="pf" class="tab-pane fade" style="margin-bottom:30px">
                                        <h5></h5>
                                        <div class="graph" id="pfPhaseGraph"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" id="fuelId" data-lift="homepageops.hasGenerator">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-oil" aria-hidden="true"></span>  <span data-i18n="cost">Fuel</span> </strong> <a class="pull-right" role="button" data-toggle="collapse" href="#row7" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-compress"> </i></a></div>
                    <div class="row row-full collapse in" id="row7" >
                        <div  class=" col-lg-6 col-md-6 col-xs-12" >
                            <div class="row">
                                <div class="tab-content col-xs-12">
                                    <div class="dashboard-box ">
                                        <div class="tab-pane fade in active">
                                            <!--<h5>Fuel</h5>-->
                                            <div class="graph" id="fuel_graph"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 ">
                            <div class="row ">
                                <div class="col-xs-12 tab-content">
                                    <div class="dashboard-box ">
                                        <!--<h5>Fuel Rate </h5>-->
                                        <div id="fuelCharts" class="graph"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" id="fff" data-lift="homepageops.hasInverter">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong><i class="fa fa-battery-three-quarters"></i> <span data-i18n="History">Batteries</span> </strong> <a class="pull-right" role="button" data-toggle="collapse" href="#row14" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-compress"> </i></a></div>
                    <div class="row row-full collapse in" id="row14" >

                        <div  class=" col-lg-6 col-md-6 col-xs-12" >
                            <div class="row">
                                <div class="tab-content  col-xs-12">
                                    <div class="dashboard-box ">
                                        <div class="tab-pane fade in active">
                                            <!--<h5>Battery Capacity</h5>-->
                                            <div class="graph" id="capGraph"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 ">
                            <div class="row ">
                                <div class="col-xs-12 tab-content ">
                                    <div class="dashboard-box ">
                                        <!--<h5>Battery DOD</h5>-->
                                        <div id="dodGraph" class="graph"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-lift="AddRealtimeUser"></div>
        <!-- Modal -->
        <div class="modal fade" id="blockAccessModal" tabindex="-1" role="dialog" aria-labelledby="blockAccessModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#414a60; color:white">
                        <h4 class="modal-title" id="myModalLabel" style="font-family: monospace,sans-serif"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span><em>  Account Deactivated</em></h4>
                    </div>
                    <div class="modal-body text-muted" style="font-size:16px;font-family:sans-serif">
                        <p>Sorry you can't access the dashboard, your account has been deactivated.</p>
                        <p>For further enquiries, you can send us a <a href="https://grit.systems/contact">mail</a> or contact us on <mark>0700 47487 978367</mark></p>
                    </div>
                </div>
            </div>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/js/bootstrap-colorpicker.min.js"></script>
        <script src="https://apis.google.com/js/api.js"></script>

        <script src="/js/summary.min.js" ></script>
        <script src="/js/index.min.js" ></script>
    </div>
</div>

</div>
