<div data-lift="surround?with=base-wrap;at=content">
    <lift:head>
        <title data-lift="Menu.title">$name$: %*%</title>
    </lift:head>
    <div class="main-content">
        <div data-lift="Notices"></div>

    </div>
</div>
</div>