<div data-lift="surround?with=base-wrap;at=content">
    <div class="main-content" id="layout-wrapper">
        <div class="lift:head" >
            <title data-lift="Menu.title">GRIT SYSTEMS: %*%</title>
        </div>
        <div class="lift:test_cond.loggedin">
            <div class="row" data-lift="homepageops.getUserStuff">
                <input id="hiddenTimeWindow" value="24" hidden/>
                <input id="realTimeWindow" value="300" hidden/>
                <!--<div class="nav navbar-nav navbar-right">-->
                <div class="row" id="displayWindow">

                    <div class="panel-heading" id="windowTab" >
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#time_filter">Time filter</a></li>
                            <lift:homepageops.single><li><a data-toggle="tab" href="#device_filter">Device filter</a></li></lift:homepageops.single>

                        </ul>
                        <div class="row tab-content col-lg-12 col-md-12 col-xs-12 ">
                            <div id="time_filter" class="tab-pane fade in active">
                                <div class="row">
                                    <br><div class="col-sm-3 ">
                                    <ul class="nav nav-pills">
                                        <li class="active col-sm-12"><a data-toggle="tab" href="#quick">Quick</a></li>
                                        <li class="col-sm-12"><a data-toggle="tab" href="#relative">Relative</a></li>
                                        <li class="col-sm-12"><a data-toggle="tab" href="#absolute">Absolute</a></li>
                                    </ul>
                                </div>
                                    <div class="col-sm-9 tab-content">
                                        <div id="quick" class="row tab-pane fade in active">
                                            <div class="col-sm-3">
                                                <a href="#" id="today">Today</a><br>
                                                <a href="#" id="this_week"> This week</a><br>
                                                <a href="#" id="this_month">This month</a><br>
                                                <a href="#" id="this_year">This year</a><br>
                                                <a href="#" id="forever">Forever</a><br>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#" id="last_15_min">Last 15 minutes</a><br>
                                                <a href="#" id="last_30_min">Last 30 minutes</a><br>
                                                <a href="#" id="last_1_hr">Last 1 hour</a><br>
                                                <a href="#" id="last_4_hr">Last 4 hours</a><br>
                                                <a href="#" id="last_12_hr">Last 12 hours</a><br>
                                                <a href="#" id="last_24_hr">Last 24 hours</a><br>
                                                <a href="#" id="last_7_days">Last 7 days</a><br>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#" id="last_30_days">Last 30 days</a><br>
                                                <a href="#" id="last_60_days">Last 60 days</a><br>
                                                <a href="#" id="last_90_days">Last 90 days</a><br>
                                                <a href="#" id="last_6_month">Last 6 months</a><br>
                                                <a href="#" id="last_1_year">Last 1 year</a><br>
                                                <a href="#" id="last_2_year">Last 2 years</a><br>
                                                <a href="#" id="last_5_year">Last 5 years</a><br>
                                            </div>
                                            <div class="col-sm-3 notsaved">
                                                <a href="#" id="yesterday">Yesterday</a><br>
                                                <a href="#" id="day_before_yesterday">Day before yesterday</a><br>
                                                <a href="#" id="previous_week">Previous week</a><br>
                                                <a href="#" id="previous_month">Previous month</a><br>
                                                <a href="#" id="previous_year">Previous year</a><br>

                                            </div>



                                        </div>


                                        <div id="relative" class="row tab-pane fade">
                                            <div class="col-sm-12">
                                                <span id="headTitle">History window</span>
                                                <div class="row">
                                                    <div class="col-sm-5"><label>From:<span id="hRngFrm"></span> </label><br>
                                                        <input type="number" id="historyRTxt" style="text-align:center;" value="">
                                                        <select id="historyRS">
                                                            <option value="1">Minutes ago</option>
                                                            <option value="2">Hours ago</option>
                                                            <option value="3">Days ago</option>
                                                            <option value="4">Weeks ago</option>
                                                            <option value="5">Months ago</option>
                                                            <option value="6">Years ago</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-5 col-xs-5">
                                                        <label>To: Now</label><br>
                                                        <input type="text" style="text-align: center"  value="Now" disabled>&nbsp;<button id="historyRBtn">GO</button>
                                                    </div>
                                                </div>
                                                <hr>
                                                <span id="headTitle">Realtime window</span>
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-4">
                                                        <!--<label>From: </label><br>-->
                                                        <input id="rTimeRange" type="text" value="" style="top:33px;">
                                                    </div>
                                                    <!--<div class="col-sm-5 col-xs-5">-->
                                                    <!--<label>To: Now</label><br>-->
                                                    <!--<input type="text" style="text-align: center"  value="Now" disabled>&nbsp;<button>GO</button>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>


                                        <div id="absolute" class=" row tab-pane fade">
                                            <div class="col-sm-12">

                                                <div class="container">
                                                    <div class='col-sm-3 col-xs-5'>
                                                        From: <br>
                                                        <div class="form-group">
                                                            <div class='input-group date' id='datetimepicker1'>
                                                                <input type='text' class="form-control" />
                                         <span class="input-group-addon">
                                           <span class="glyphicon glyphicon-calendar"></span>
                                         </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-sm-3 col-xs-5'>
                                                        To:<br>
                                                        <div class="form-group">
                                                            <div class='input-group date' id='datetimepicker2'>
                                                                <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-md-3 col-xs-2'>
                                                        <br>
                                                        <button id="dPGo">GO</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <lift:homepageops.single>
                                <div id="device_filter" class="row tab-pane fade">
                                    <div class="row df_content">
                                        <div class="col-sm-6">
                                            <div id="adminListUsers">
                                  <span data-lift="hasRole?name=admin" >
                                    <label>User Email</label><select id="users" class="form-control" >users</select>
                                  </span>
                                            </div>
                                            <label>Configuration Name</label><select id="config" class="form-control" >config</select>
                                            <label>Probe Name</label><select id="probe" class="form-control" >probe</select>
                                        </div>
                                    </div>
                                </div>
                            </lift:homepageops.single>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="alert alert-danger alert-dismissible" role="alert" style="display:none" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error!
                </strong>
                No Data from this period.
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#577492; color:white">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Facilities</h4>
                        </div>
                        <div class="modal-body" data-lift="homepageops.getUserStuff">
                            <div class="row">

                                <div id="adminListUsers">
                                  <span data-lift="hasRole?name=admin" >
                                       <div class="col-sm-6" style="margin-bottom:0.8em">
                                           <label>User Email</label><select id="users" class="form-control" >users</select>
                                       </div>
                                  </span>

                                </div>
                                <div class="col-sm-6" style="margin-bottom:0.8em">
                                    <label>Configuration Name</label><select id="config" class="form-control" >config</select>
                                </div>
                                <div class="col-sm-6">
                                    <label>Probe Name</label><select id="probe" class="form-control" >probe</select>
                                </div>

                            </div>
                        </div>
                        <!--  <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                          </div>-->
                    </div>
                </div>
            </div>

            <div class="row" id="fuelId">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-oil" aria-hidden="true"></span>  <span data-i18n="cost">Fuel</span> </strong> <a class="pull-right" role="button" data-toggle="collapse" href="#row7" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-compress"> </i></a></div>
                    <div class="row row-full collapse in" id="row7" >
                        <!--<ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#real">Real</a></li>
                            <li><a data-toggle="pill" href="#apparent">Apparent</a></li>
                            <li><a data-toggle="pill" href="#reactive">Reactive</a></li>
                        </ul>-->
                        <div  class=" col-lg-6 col-md-6 col-xs-12" >
                            <div class="row">
                                <div class="tab-content tab-content-border col-xs-12">
                                    <div class="dashboard-box ">
                                        <div class="tab-pane fade in active">
                                            <h5>Fuel</h5>
                                            <div class="graph" id="fuel_graph"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 ">
                            <div class="row ">
                                <div class="col-xs-12 tab-content tab-content-border">
                                    <div class="dashboard-box ">
                                        <h5>Fuel Rate </h5>
                                        <div id="fuelCharts" class="graph"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="fff">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong><i class="fa fa-battery-three-quarters"></i> <span data-i18n="History">Batteries</span> </strong> <a class="pull-right" role="button" data-toggle="collapse" href="#row9" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-compress"> </i></a></div>
                    <div class="row row-full collapse in" id="row9" >

                        <div  class=" col-lg-6 col-md-6 col-xs-12" >
                            <div class="row">
                                <div class="tab-content tab-content-border col-xs-12">
                                    <div class="dashboard-box ">
                                        <div class="tab-pane fade in active">
                                            <h5>Battery Capacity</h5>
                                            <div class="graph" id="capGraph"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 ">
                            <div class="row ">
                                <div class="col-xs-12 tab-content tab-content-border">
                                    <div class="dashboard-box ">
                                        <h5>Battery DOD</h5>
                                        <div id="dodGraph" class="graph"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br/>


            <div class="row" id="costId">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong><i class="fa fa-money"></i> <span data-i18n="cost">Cost</span> </strong> <a class="pull-right" role="button" data-toggle="collapse" href="#row5" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-compress"> </i></a></div>
                    <div class="row row-full collapse in" id="row5" >
                        <!--<ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#real">Real</a></li>
                            <li><a data-toggle="pill" href="#apparent">Apparent</a></li>
                            <li><a data-toggle="pill" href="#reactive">Reactive</a></li>
                        </ul>-->
                        <div id="" class=" col-lg-8 col-md-8 col-xs-12" >
                            <div class="row">
                                <div class="tab-content tab-content-border col-xs-12">
                                    <div class="dashboard-box ">
                                        <div class="tab-pane fade in active">
                                            <h5>Cost by Source Type</h5>
                                            <div class="graph" id="cost_graph"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12 ">
                            <div class="row ">
                                <div class="col-xs-12 tab-content tab-content-border">
                                    <div class="dashboard-box ">
                                        <h5>Cost </h5>
                                        <div id="costCharts" class="graph"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--<div class="col-xs-1"></div>-->

        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
        <script src="/js/resources.js" ></script>
        <script src="/js/index.js" ></script>

    </div>
</div>

</div>
