<div data-lift="surround?with=base-wrap;at=content">
  <!--<span data-lift="ProfileLocUser.title"></span>-->
  <!--<div class="main-content">-->
    <!--<div class="page-header">-->
      <!--<span data-lift="ProfileLocUser.header"></span>-->
    <!--</div>-->
    <!--<div data-lift="ProfileLocUser.profile" class="row">-->
      <!--<span id="id_editlink" class="pull-right"></span>-->
      <!--<table>-->
        <!--<tr>-->
          <!--<td width="100"><strong>Name</strong></td>-->
          <!--<td><span id="id_name"></span></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td><strong>Location</strong></td>-->
          <!--<td><span id="id_location"></span></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td><strong>Member Since</strong></td>-->
          <!--<td><span id="id_whencreated"></span></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td><strong>Bio</strong></td>-->
          <!--<td><span id="id_bio"></span></td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</div>-->
  <!--</div>-->

</div>
