<div data-lift="surround?with=system-wrap;at=content">
    <div class="collapse navbar-collapse navbar-ex1-collapse systems-secondary">
        <span data-lift="Menus.group?group=configgroup" class="nav nav-pills nav-stacked"></span>
    </div>
</div>