<div data-lift="surround?with=base-wrap;at=content">
  <span data-lift="CurrentUser.title"></span>
  <div class="main-content">
    <div class="page-header">
      <span lift="CurrentUser.header"></span>
      <div id="ajax-spinner" class="pull-right" style="display: none;">
        <img src="/img/spinner.gif" width="16" height="16"/>
      </div>
    </div>
    <div class="row">
      <div class="settings-main">
        <div data-lift="Notices"></div>
        <div id="content">
          <div lift="ProfileScreen?ajax=true"></div>
        </div>
      </div>
      <div class="settings-secondary">
      </div>
    </div>
  </div>
</div>
