<span data-lift="UserOps.setUsers">
<!--span data-lift="PowerConsumerOps.setUsers"-->
    <style>
      .selectUser .btn {
            white-space: nowrap !important;
        }
    </style>
    <div data-lift="hasRole?name=admin" class="panel selectUser">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
        <label>Select User : </label>
        <select id="selectUser" class="form-control selectpicker" data-live-search="true">users</select>
        <br/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js" async></script>
    </div>
</span>
