<div data-lift="lift:surround?with=probe-wrap;at=content">
	<!--<h2 class="alt">New Probe</h2>-->
	<div data-lift="ProbeOps.create?form=post">
        <span id="hidden"></span>
        <div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Create Probe</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">Probe Name </div>
									<div class="col-sm-6"><input class="form-control" id="probename" type="text"/>
									<span data-lift="Msg?id=probeName_id&errorClass=has-error">Msg to appear here</span>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">Numberof Channels</div>
									<div class="col-sm-6"><select class="form-control custom"  id="maxprobechannels">probes</select></div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">Device Type</div>
									<div class="col-sm-6"><select class="form-control custom"  id="deviceType">devices</select></div>
								</div>
							</li>
							<!--<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">Scaling Voltage</div>
									<div class="col-sm-6"><input class="form-control" id="scalingvoltage" type="text" /></div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">Scaling Current</div>
									<div class="col-sm-6"><input class="form-control" id="scalingcurrent" type="text" /></div>
								</div>
							</li>-->
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">Wifi Network Name</div>
									<div class="col-sm-6"><input class="form-control" id="ssid" type="text" /></div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row ">
									<div class="col-sm-6">Wifi Password</div>
									<div class="col-sm-6"><input class="form-control"  id="password" type="password" /></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<hr>
				<button class="btn btn-primary" id="updatefirmware" type="button" disabled>Update Firmware</button>&nbsp;&nbsp;&nbsp;
				<button class="btn btn-primary" id="submit" type="submit">Save Probe</button>
			</div>
		</div>



  </div>
</div>