<div data-lift="lift:surround?with=probe-wrap;at=content">
	<div data-lift="ProbeOps.delete">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">Delete Probe</div>

                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div><div class="col-sm-10">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="alt">The following power sources are assigned to probe :<span id="probename"></span> and will be deleted</h5>
                        </div>
                        <!--<div class="panel-body">-->
                            <!--&lt;!&ndash;<a href="/system/probe/createprobe"><button type="button" class="btn btn-primary " >New Probe</button></a> <br /> <br />&ndash;&gt;-->
                        <!--</div>-->
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Source Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="probeSources">

                            </tbody>
                        </table>
                      </div>
                    </div>


                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <span id="yes" class="btn btn-primary">Delete</span>
                </div>
                <div class="col-sm-3">
                     <span id="no" class="btn btn-primary">Cancel</span></a>
                </div>

            </div>
            <div class="row"><br/></div>
                <!---->
                <!---->
        <!--<a id="yes" href=#>Yes</a>-->
        <!--<a id="no" href=#>No</a>-->
            </div>
        </div>
      </div>
    <script src="/js/powerSources.min.js"></script>
</div>