
<div data-lift="surround?with=base-wrap;at=content">
    <span data-lift="CurrentUser.title"></span>
    <div class="main-content">
        <div class="page-header">
            <span lift="CurrentUser.header"></span>
            <div id="ajax-spinner" class="pull-right" style="display: none;">
                <img src="/img/spinner.gif" width="16" height="16"/>
            </div>
        </div>
        <style>
            @media (min-width: 900px) {
                .inputStyle .col-md-2 {
                    width: 13.66666667%;
                }
            }
        </style>
        <div class="row">
            <span data-lift="embed?what=/templates-hidden/parts/settingsMenu"></span>
            <div class="systems-secondary">
                <div data-lift="embed?what=/templates-hidden/embed/selectuser"></div>

                <ul data-lift="Menus.group?group=configprobe" class="nav nav-pills"></ul>
            </div>
            <div class="settings-main">
                <div data-lift="Notices"></div>
                <div id="content">
                    <div data-lift="ProbeOps.edit?form=post">
                        <span id="hidden"></span>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h5 class="panel-title" id="heading_action"></h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="row ">
                                                    <div class="col-sm-6">Probe Name </div>
                                                    <div class="col-sm-6"><input class="form-control" id="probename" type="text" disabled/></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row ">
                                                    <div class="col-sm-6">Number Of Channels</div>
                                                    <div class="col-sm-6"><select class="form-control custom" id="maxprobechannels">probes</select></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row ">
                                                    <div class="col-sm-6">Device Type</div>
                                                    <div class="col-sm-6"><select class="form-control custom"  id="deviceType">devices</select></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row ">
                                                    <div class="col-sm-6">Wifi Network Name</div>
                                                    <div class="col-sm-6"><input class="form-control" id="ssid" type="text" /></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row ">
                                                    <div class="col-sm-6">Wifi Password</div>
                                                    <div class="col-sm-6"><input class="form-control" id="password" type="password" /></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12 inputStyle">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12 col-xs-12">CHANNELS</div>
                                        <div class="col-md-2 col-sm-12 col-xs-12">Channel Threshold</div>
                                        <div class="col-md-2 col-sm-12 col-xs-12">Power Factor</div>
                                        <div class="col-md-2 col-sm-12 col-xs-12">Default Voltage</div>
                                        <div class="col-md-2 col-sm-12 col-xs-12">Sensor Type</div>
                                        <div class="col-md-2 col-sm-12 col-xs-12">Scaling Factor(V)</div>
                                        <div class="col-md-2 col-sm-12 col-xs-12">Scaling Factor(A)</div>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item" id="channels">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-12 col-xs-12 chName">channel 0</div>
                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <input class="form-control th" type="number"/>
                                                </div>
                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <input class="form-control pf" type="number"/>
                                                </div>
                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <input class="form-control dv" type="number"/>
                                                </div>
                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <input class="form-control sensor" type="text"/>
                                                </div>
                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <input class="form-control SFVoltage" type="text"/>
                                                </div>
                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <input class="form-control SFCurrent" type="text"/>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <hr>
                                <button class="btn btn-primary" id="submit" type="submit">Save Probe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





