<div data-lift="lift:surround?with=probe-wrap;at=content">
	<style>
		.probeCheck { margin-right : 1em; width:3px }
	</style>
	<div data-lift="ProbeOps.list">
	    <div class="panel panel-primary">
		    <div class="panel-heading">
	           <h5 class="alt" id="heading_user">Probes</h5>
		    </div>
		<div class="panel-body">
		</div>
			<table class="table">
				<thead>
					<tr>
						<th>Probe Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="probelistuser">
					<tr class="rows">
						<td class="probeName">Dummy Name</td>
						<td class="actions">Actions</td>
					</tr>
				</tbody>
			</table>

		</div>
		<form method="post" class="lift:ProbeOps.multiProbeUpdates " >
		<div class="panel panel-primary" data-lift="hasRole?name=admin">
			<div class="panel-heading">
				<h5 class="alt" >Probes</h5>
			</div>
			<div class="panel-body">
				<span data-lift="hasRole?name=admin">
					<input type="checkbox"  id="select_all"/> Select All
				</span>
			</div>

			<table class="table" >
				<thead>
					<tr>
						<th>Probe Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="probelist">
					<tr class="rows">
						<td >
							<span class="probeCheck" data-lift="hasRole?name=admin"></span>
							<span class="probeName" style="display: inline-block;">Dummy Name</span>
						</td>
						<td class="actions">Actions</td>
					</tr>
				</tbody>
			</table>

		</div>
		<button class="btn btn-primary "  data-lift="hasRole?name=admin" id="submit" type="submit">Update Firmware</button>
		</form>
	</div>
	<script type="text/javascript">
		//select all checkboxes
		$("#select_all").change(function(){  //"select all" change
			var status = this.checked; // "select all" checked status
			$('.check').each(function(){ //iterate all listed checkbox items
				this.checked = status; //change ".checkbox" checked status
			});
		});

		//uncheck "select all", if one of the listed checkbox item is unchecked
		$('.check').change(function(){ //".checkbox" change
			if(this.checked == false){ //if this item is unchecked
				$("#select_all")[0].checked = false; //change "select all" checked status to false
			}
		});
	</script>
</div>

